<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">

          <div class="text-wrapper">
            <p class="profile-name">{{currentUser.firstName}} {{currentUser.lastName}}</p>
            <div>
              <small class="designation text-muted">{{currentUser.hotelName}}</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/dashboard.svg" >
        <span class="menu-title">{{ 'MENU.DASHBOARD' | translate }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/inbox" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/review.svg" >
        <span class="menu-title">{{ 'MENU.REVIEW' | translate }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/category" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/category.svg" >
        <span class="menu-title">{{ 'MENU.CATEGORY' | translate }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/popularity" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/popularity.svg" >
        <span class="menu-title">{{ 'MENU.STATS' | translate }}</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/task" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/task.svg" >
        <span class="menu-title">{{ 'MENU.TASK' | translate }}</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/competition" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/competition.svg" >
        <span class="menu-title">{{ 'MENU.COMPETITION' | translate }}</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="false">
      <a class="nav-link" routerLink="/uplifts" routerLinkActive="active">
        <i class="fas fa-store  side-icon"></i>
        <span class="menu-title">{{ 'MENU.UPLIFT_STORE' | translate }}</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="false">
      <a class="nav-link" routerLink="/guest" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/competition.svg" >
        <span class="menu-title">Guest</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="isAdmin || isSeller">
      <a class="nav-link" routerLink="/crm" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/competition.svg" >
        <span class="menu-title">{{ 'MENU.CRM' | translate }}</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="isAdmin || isSeller">
      <a class="nav-link" routerLink="/crm/visit" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/competition.svg" >
        <span class="menu-title">{{ 'MENU.VISIT' | translate }}</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="isAdmin">
      <a class="nav-link" routerLink="/inbox-pool" routerLinkActive="active">
        <i class="fa fa-envelope icon-lg category-icon side-icon side-i-icon"></i>
        <span class="menu-title">{{ 'MENU.INBOX_POOL' | translate }}</span>
      </a>
    </li>

  </ul>
</nav>
