<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">

          <div class="text-wrapper">
            <p class="profile-name">{{currentUser.firstName}} {{currentUser.lastName}}</p>
            <div>
              <small class="designation text-muted">{{currentUser.hotelName}}</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/dashboard.svg" >
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/inbox" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/review.svg" >
        <span class="menu-title">Reviews</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/category" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/category.svg" >
        <span class="menu-title">Categories</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/popularity" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/popularity.svg" >
        <span class="menu-title">Hotel Stats</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/task" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/task.svg" >
        <span class="menu-title">Tasks</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/competition" routerLinkActive="active">
        <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/competition.svg" >
        <span class="menu-title">Competition</span>
      </a>
    </li>

  </ul>
</nav>
