<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">

          <div class="text-wrapper">
            <p class="profile-name">{{currentUser.firstName}} {{currentUser.lastName}}</p>
            <div>
              <small class="designation text-muted">{{currentUser.hotelName}}</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/inbox" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title">Reviews</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/category" routerLinkActive="active">
        <i class="menu-icon mdi mdi-check"></i>
        <span class="menu-title">Categories</span>
      </a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" routerLink="/task" routerLinkActive="active">
        <i class="menu-icon mdi mdi-chart-bar"></i>
        <span class="menu-title">Tasks</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/competition" routerLinkActive="active">
        <i class="menu-icon mdi mdi-chess-king"></i>
        <span class="menu-title">Competition</span>
      </a>
    </li>
    -->
  </ul>
</nav>
