<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">Templates</span>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 title-button">
    <button type="button" class="btn btn-primary" (click)="open(templateModal)"><i class="mdi mdi-plus"></i>
      Add new template
    </button>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" #templateTable>
            <thead>
            <tr>
              <th>
                Title
              </th>
              <th>
                Content
              </th>
              <th>
                Actions
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let template of templates">
              <td>
                {{template.title}}
              </td>
              <td class="text comment full"
                  *ngIf="template.content != null && template.content.length <= 100">
                {{template.content}}
              </td>
              <td class="text comment full"
                  *ngIf="template.content!= null && template.content.length > 100">
                {{template.content | slice:0:100}}...
              </td>

              <td class="text-primary">
                <a (click)="openDeletePopup(delete, template)"><i class="fa fa-trash action-button" ></i></a>
                <a (click)="edit(template)"><i class="fa fa-pencil-alt action-button" ></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #templateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-answer-title">Template</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="assignee-form">
      <div class="form-group">
        <label>Title</label>
        <div class="input-group">
          <input id="title" type="text" class="form-control" name="title"
                 [(ngModel)]="newTemplate.title"/>
        </div>
      </div>
      <div class="form-group answer">
        <label>Answer</label>
        <div class="input-group">
          <textarea type="text" name="content" class="form-control" #inputTarget rows="12" [(ngModel)]="newTemplate.content"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save(newTemplate)">Save</button>
  </div>
</ng-template>

<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-excel-title">Delete Template</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body warning-body">
    <div class="warning-container">
      <i class="fa fa-exclamation-triangle warning text-warning"></i>
      <p>
        Do you really want to delete this template?
      </p>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-warning" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-outline-danger" (click)="deleteTemplate()">Delete</button>
  </div>
</ng-template>
