.template-form {
  margin-top: 50px;
  width: 100%;
}
.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  .divider {
    margin-right: 10px;
  }
}

