<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
      <i class="far fa-file title-icon"></i>Templates</span>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 title-button">

  </div>
</div>

<ngb-tabset>
  <ngb-tab title="Response Template">
    <ng-template ngbTabContent>
      <div class="card">
        <div class="card-body">
          <div ngbDropdown container="body" class="template-selection title-container " *ngIf="templates.length > 0">
            <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>{{selectedResponseTemplate.title}}</button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem *ngFor="let template of templates" (click)="selectResponseTemplate(template)">{{template.title}}</button>
            </div>
            <button type="button" class="btn btn-primary add-new" (click)="addNew()"><i class="mdi mdi-plus"></i>
              Add new
            </button>
          </div>
          <div class="row title-container">
            <div class="col-lg-8 grid-margin" *ngIf="selectedResponseTemplate != null">
              <div class="card">
                <div class="form-group">
                  <div class="input-group">
                    <input id="templateTitle" type="text" class="form-control" name="title"
                           [(ngModel)]="selectedResponseTemplate.title"/>
                  </div>
                </div>
                <quill-editor #ResponseEditor [styles]="{height: '350px'}"
                              (onEditorCreated)="onResponseEditorCreated($event)"
                              format="text"
                              [(ngModel)]="selectedResponseTemplate.content"
                              (onContentChanged)="responseContentChange($event);"
                              placeholder=''
                              [ngModelOptions]="{standalone: true}">
                </quill-editor>
              </div>
              <button type="button" class="btn btn-primary template-button" (click)="save(selectedResponseTemplate)">
                Update
              </button>
              <button type="button" class="btn btn-danger template-button" (click)="openDeletePopup(delete, selectedResponseTemplate)">
                Delete
              </button>
            </div>
            <div class="col-lg-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body pagination-container" *ngIf="tags.length > 0">
                  <p class="insert-text">Click to insert these dynamic elements. For example --guest-fist-name-- will mean that the name of the guest will appear.</p>
                  <button type="button" class="btn btn-danger tag" *ngFor="let tag of tags" (click)="onInsertResponseTemplateText(tag.name)">
                    {{tag.name}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Mail Template">
    <ng-template ngbTabContent>
      <div class="card">
        <div class="card-body padding-0">
          <div class="row title-container">
            <div class="col-lg-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div ngbDropdown container="body" class="template-selection title-container ">
                    <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>{{selectedType.title}}</button>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem *ngFor="let templateType of templateTypes" (click)="selectStatus(templateType)">{{templateType.title}}</button>
                    </div>
                  </div>
                  <quill-editor #Editor [styles]="{height: '300px'}"
                                (onEditorCreated)="onEditorCreated($event)"
                                format="html"
                                [(ngModel)]="hotelTemplateModel.content"
                                (onContentChanged)="contentChange($event);"
                                placeholder=''
                                [ngModelOptions]="{standalone: true}">
                  </quill-editor>
                  <button type="button" class="btn btn-primary template-button" (click)="saveTemplate()">
                    Save
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body pagination-container">
                  <h4 class="card-title">Tags</h4>
                  <button type="button" class="btn btn-danger tag" *ngFor="let tag of tags" (click)="onInsertText(tag.name)">
                    {{tag.name}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-excel-title">Delete Template</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body warning-body">
    <div class="warning-container">
      <i class="fa fa-exclamation-triangle warning text-warning"></i>
      <p>
        Do you really want to delete this template?
      </p>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-warning" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-outline-danger" (click)="deleteTemplate()">Delete</button>
  </div>
</ng-template>
