<img class="mdi mdi-cube icon-lg icon" *ngIf="source.toLowerCase().includes('booking')"
     src="assets/images/bookingCom.png">
<img class="mdi mdi-cube icon-lg icon" *ngIf="source.toLowerCase().includes('hotelscom')"
     src="assets/images/hotelsCom.jpg">
<img class="mdi mdi-cube icon-lg icon" *ngIf="source.toLowerCase().includes('tripadvisor')"
     src="assets/images/tripadvisor.png">
<img class="mdi mdi-cube icon-lg icon" *ngIf="source.toLowerCase().includes('tatilsepeti')"
     src="assets/images/tatilSepeti.png">
<img class="mdi mdi-cube icon-lg icon" *ngIf="source.toLowerCase().includes('google')"
     src="assets/images/google.png">
<img class="mdi mdi-cube icon-lg big-icon" *ngIf="source.toLowerCase().includes('otelpuan')"
     src="assets/images/otelPuan.png">
<img class="mdi mdi-cube icon-lg big-icon" *ngIf="source.toLowerCase().includes('odamax')"
     src="assets/images/odamax.jpg">
<img class="mdi mdi-cube icon-lg big-icon" *ngIf="source.toLowerCase().includes('agoda')"
     src="assets/images/agoda.png">
<img class="mdi mdi-cube icon-lg icon" *ngIf="source.toLowerCase().includes('hoteluplift')"
     src="assets/images/logo.png">
<img class="mdi mdi-cube icon-lg icon" *ngIf="source.toLowerCase().includes('holidaycheck')"
     src="assets/images/holidayCheck.png">
<img class="mdi mdi-cube icon-lg big-icon" *ngIf="source.toLowerCase().includes('otelz')"
     src="assets/images/otelz.png">
