<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
    <i class="menu-icon fa fa-money-bill title-icon"></i>
      {{ 'PRICING.PREMIUM' | translate }}
    </span>
  </div>
</div>
<div class="row premium">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <p class="title">
          {{ 'PRICING.PARTNER' | translate }}
        </p>
        <p class="main">
          {{ 'PRICING.MAIN' | translate }}
        </p>
        <div class="item-container">
          <div class="item">
            <div class="positive-container">
              <div class="positive-item">
                <p class="title">{{ 'PRICING.ITEM_1' | translate }}</p>
                <p class="plus">{{ 'PRICING.POSITIVE_1' | translate }}</p>
              </div>
              <i class="fa fa-arrow-up positive"></i>
            </div>
          </div>
          <div class="item">
            <div class="positive-container">
              <div class="positive-item">
                <p class="title">{{ 'PRICING.ITEM_2' | translate }}</p>
                <p class="plus">{{ 'PRICING.POSITIVE_2' | translate }}</p>
              </div>
              <i class="fa fa-arrow-up positive"></i>
            </div>
          </div>
          <div class="item">
            <div class="positive-container">
              <div class="positive-item">
                <p class="title">{{ 'PRICING.ITEM_3' | translate }}</p>
                <p class="plus">{{ 'PRICING.POSITIVE_3' | translate }}</p>
              </div>
              <i class="fa fa-arrow-down positive"></i>
            </div>
          </div>
        </div>
        <p class="detail">
          {{ 'PRICING.DETAIL' | translate }}
        </p>
        <button type="button" class="btn btn-primary float-right" routerLink="/pricing/payment">
          {{ 'PRICING.ACCOUNT_OWNER' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
