.premium {
  .item-container {
    display: flex;
    flex-direction: row;
    .item {
      box-shadow: 0 0 20px 6px #e4e4e4;
      width: 33%;
      background: #ffffff;
      border: 1px solid #d4d0d0 !important;
      margin: 20px;
      padding-top: 0;
      border-radius: 10px;
    }
  }
  .title {
    font-size: 24px;
    font-weight: 500;
  }
  .main {
    font-size: 16px;
  }
  .detail {
    padding-top: 15px;
    font-weight: 300;
  }
  .positive {
    color: #03de35;
    font-weight: 500;
    font-size: 40px;
    float: right;
    align-self: center;
  }
  .icon {
    font-weight: 500;
    font-size: 40px;
    float: right;
    align-self: center;
  }
  .positive-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    .positive-item {
      display: flex;
      flex-direction: column;
      width: 80%;
      align-items: center;
      .title {
        color: #2a2b32;
        font-size: 20px;
        font-weight: 500;
      }
      .plus {
        color: #03de35;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .item-container {
      display: flex;
      flex-direction: column;
      .item {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }
}
