<div class="row title-container">
  <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 left">
    <span class="input-group-text text-primary title">{{currentUser.hotelName}}</span>
  </div>
  <!--
  <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 right">
    <date-range-picker [instanceId]="'secondDateRange'" [parentFormGroup]="form"
                       [controlName]="'secondDateRange'" #dateRangePicker>
      <div class="form-group">
        <div class="input-group">
          <input id="secondDateRange" class="form-control" type="text" name="dateRange"
                 [value]="dateRangePicker.range" placeholder="From - To" formControlName="secondDateRange" />
          <div class="input-group-prepend">
            <span class="input-group-text cursor-pointer" id="date-range-icon" (click)="openHotelSelectionPopup(contentCompetition)">
              <i class="material-icons text-primary">Change Hotel</i>
            </span>
          </div>
        </div>
      </div>
    </date-range-picker>
  </div>
  -->
</div>

<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card rating-card" *ngFor="let commentCountRating of commentCountRatings">
    <div class="card card-statistics" (click)="goToDetail(commentCountRating.source)">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <img class="mdi mdi-cube icon-lg icon" *ngIf="commentCountRating.source.toLowerCase().includes('booking')" src="assets/images/bookingCom.png">
            <img class="mdi mdi-cube icon-lg icon" *ngIf="commentCountRating.source.toLowerCase().includes('hotelscom')" src="assets/images/hotelsCom.jpg" >
            <img class="mdi mdi-cube icon-lg icon" *ngIf="commentCountRating.source.toLowerCase().includes('tripadvisor')" src="assets/images/tripadvisor.png">
            <img class="mdi mdi-cube icon-lg icon" *ngIf="commentCountRating.source.toLowerCase().includes('tatilsepeti')" src="assets/images/tatilSepeti.png">
            <img class="mdi mdi-cube icon-lg icon" *ngIf="commentCountRating.source.toLowerCase().includes('google')" src="assets/images/google.png">
            <img class="mdi mdi-cube icon-lg big-icon" *ngIf="commentCountRating.source.toLowerCase().includes('otelpuan')" src="assets/images/otelPuan.png" >
            <img class="mdi mdi-cube icon-lg big-icon" *ngIf="commentCountRating.source.toLowerCase().includes('odamax')" src="assets/images/odamax.jpg">
            <img class="mdi mdi-cube icon-lg big-icon" *ngIf="commentCountRating.source.toLowerCase().includes('agoda')" src="assets/images/agoda.png">
            <img class="mdi mdi-cube icon-lg big-icon" *ngIf="commentCountRating.source.toLowerCase().includes('hoteluplift')" src="assets/images/logo.png">
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">{{commentCountRating.source}}</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{commentCountRating.rating}}</h3>
              <p class="text-right mb-0">{{commentCountRating.commentCount}} Reviews</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card rating-card"
       (click)="goToCategoryDetail(categoryGroup.category.name)"
       *ngFor='let categoryGroup of categoryGroupList | slice:0:4'>
    <div class="card card-statistics">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-shower category-icon"  *ngIf="categoryGroup.category.name.toLowerCase().includes('cleanliness')"></i>
            <i class="fa fa-egg category-icon"  *ngIf="categoryGroup.category.name.toLowerCase().includes('breakfast')"></i>
            <i class="fa fa-hamburger category-icon"  *ngIf="categoryGroup.category.name.toLowerCase().includes('food')"></i>
            <i class="fa fa-wifi category-icon"  *ngIf="categoryGroup.category.name.toLowerCase().includes('wifi')"></i>
            <i class="fa fa-users category-icon"  *ngIf="categoryGroup.category.name.toLowerCase().includes('staff')"></i>
            <i class="fa fa-money category-icon"  *ngIf="categoryGroup.category.name.toLowerCase().includes('pricing')"></i>
            <i class="fa fa-location-arrow category-icon"  *ngIf="categoryGroup.category.name.toLowerCase().includes('location')"></i>
            <i class="fa fa-bed category-icon"  *ngIf="categoryGroup.category.name.toLowerCase().includes('room')"></i>
            <i class="fa fa-location-arrow category-icon"  *ngIf="categoryGroup.category.name.toLowerCase().includes('ambiance')"></i>
            <i class="fa fa-concierge-bell category-icon"  *ngIf="categoryGroup.category.name.toLowerCase().includes('reception')"></i>
            <i class="fa fa-hotel category-icon"  *ngIf="categoryGroup.category.name.toLowerCase().includes('amenities')"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">{{categoryGroup.category.name}}</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">%{{categoryGroup.score}}</h3>
              <p class="text-right mb-0">{{categoryGroup.totalMention}} Reviews</p>
              <p class="text-right mb-0">
                <span class="text-danger">
                {{categoryGroup.negativeCount}}
                  <i class="fa fa-thumbs-down"></i>
                </span>
                /
                <span class="text-warning">
                {{categoryGroup.neutralCount}}
                  <i class="fa fa-meh"></i>
                </span>
                /
                <span class="text-success">
                {{categoryGroup.positiveCount}}
                  <i class="fa fa-thumbs-up"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="lineChartData.length > 0">
  <div class="col-lg-6 grid-margin stretch-card">
    <!--weather card-->
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">Rating</h2>
        <app-line-chart [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels"></app-line-chart>
      </div>
    </div>
    <!--weather card ends-->
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">Review by channel</h2>
        <app-pie-chart [pieChartData]="pieChartData" [pieChartLabels]="pieChartLabels"></app-pie-chart>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Reviews</h4>
        <div class="table-responsive">
          <table class="table table-bordered" #commentTable>
            <thead>
            <tr>
              <th style="width: 10%">
                Starred
              </th>
              <th style="width: 50%">
                Review
              </th>
              <th style="width: 10%">
                Channel
              </th>
              <th style="width: 15%">
                Review Date
              </th>
              <th style="width: 15%">
                Rating
              </th>
              <th style="width: 15%">
                Actions
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of commentList">
              <td class="text star-container">
                <a *ngIf="!comment.starred" (click)="markAsStarred(comment)"><i class="fa fa-star star pointer" ></i></a>
                <a *ngIf="comment.starred" (click)="!markAsStarred(comment)"><i class="far fa-star star pointer" ></i></a>
              </td>
              <td class="text comment full"
                  (click)="openDetailPopup(comment, contentReviewDetail)"
                  *ngIf="comment.content != null && comment.content.length <= 100">
                {{comment.content}}
              </td>
              <td class="text comment full"
                  (click)="openDetailPopup(comment, contentReviewDetail)"
                  *ngIf="comment.content != null && comment.content.length > 100">
                {{comment.content | slice:0:100}}...
              </td>
              <td class="text comment"
                  (click)="openDetailPopup(comment, contentReviewDetail)"
                  *ngIf="comment.content == null">
              </td>
              <td>
                <div>
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('booking')" src="assets/images/bookingCom.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('hotelscom')" src="assets/images/hotelsCom.jpg" >
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('tripadvisor')" src="assets/images/tripadvisor.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('tatilsepeti')" src="assets/images/tatilSepeti.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('google')" src="assets/images/google.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('otelpuan')" src="assets/images/otelPuan.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('agoda')" src="assets/images/agoda.png">
                </div>
              </td>
              <td>
                {{comment.commentDate  | date:'dd/MM/yyyy'}}
              </td>
              <td class="text-danger"
                  [ngClass]="{'text-danger': comment.rating < 6, 'text-warning':(comment.rating >= 6 && comment.rating < 8), 'text-success':comment.rating >= 8 }"> {{comment.rating}} / 10
                <i class="mdi mdi-arrow-down" *ngIf="comment.rating < 6"></i>
                <i class="mdi mdi-arrow-up" *ngIf="comment.rating >= 6"></i>
              </td>
              <td class="text-primary">
                <!--<i class="fa fa-tasks action-button" (click)="open(comment, contentTask)"></i>-->
                <a (click)="translate(comment)"><i class="fa fa-language action-button" ></i></a>
                <a target="_blank" *ngIf="comment.url != null" href={{comment.url}}><i class="fa fa-link action-button"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <ngb-pagination [collectionSize]="totalElements" [pageSize]="pageSize" [page]="page"
                          (pageChange)="loadComments($event)"
                          [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                          aria-label="Default pagination" class="d-flex pagination justify-content-end pagination-success"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTask let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Assign new task</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="summary-container">
      <div class="summary">
        <p class="title">{{selectedComment.content}}</p>
        <span class="brand popup-brand">{{selectedComment.source}}</span>
        <p class="written" >Written By: {{selectedComment.author}}</p>
        <p class="written">Published on {{selectedComment.commentDate  | date:'dd/MM/yyyy'}}</p>
      </div>
    </div>
    <form class="assignee-form">
      <div class="form-group">
        <label>Assignee</label>
        <div class="input-group">
          <input id="assignee" type="text" class="form-control" name="assignee"
                 [resultFormatter]="resultFormatter"
                 [inputFormatter]="inputFormatter"
                 [(ngModel)]="task.assignee" [ngbTypeahead]="search"/>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <div class="input-group">
          <textarea id="description" type="text" class="form-control"
                    name="description" [(ngModel)]="task.description" rows="3"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Assign</button>
  </div>
</ng-template>


<ng-template #contentReviewDetail let-modalReview>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-comment-detail">Review Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalReview.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="summary-container">
      <div class="summary">
        <p class="title">{{selectedComment.content}}</p>
        <p class="content-answer" *ngIf="selectedComment.translatedText != null">{{selectedComment.translatedText}}</p>
        <span class="brand popup-brand">{{selectedComment.source}}</span>
        <p class="written" >Written By: {{selectedComment.author}}</p>
        <p class="written">Published on {{selectedComment.commentDate  | date:'dd/MM/yyyy'}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="template-demo">
      <button type="button" class="btn btn-success" *ngIf="selectedComment.translatedText == null"><i class="fa fa-language"></i>Translate</button>
      <button type="button" class="btn btn-primary" *ngIf="selectedComment.starred" (click)="markAsStarred(selectedComment)"><i class="mdi mdi-star"></i>Mark as Important</button>
      <button type="button" class="btn btn-primary" *ngIf="!selectedComment.starred" (click)="markAsStarred(selectedComment)"><i class="mdi mdi-star"></i>Mark as Unimportant</button>
    </div>
  </div>
</ng-template>

<ng-template #contentCompetition let-modalCompetiton>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-competition">Select Hotel</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalCompetiton.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="summary-container">
      <div class="summary">
        <div *ngFor="let competition of competitionList">
          <label for="enum_answer_{{competition.name}}">
            <input id="enum_answer_{{competition.name}}" [value]='competition' type="radio" name="enums" [(ngModel)]="selectedHotel">
            {{competition.name}}
          </label>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="template-demo">
      <button type="button" class="btn btn-success" (click)="changeHotel()"><i class="fa fa-building"></i>Change Hotel</button>
    </div>
  </div>
</ng-template>
