.pricing {
  ul li {
    font-size: 14px;
  }
  .special-offer {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 25px;
  }
  .to-feature {
    color: #007bff;
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
  }
  .item-container {
    display: flex;
    flex-direction: row;
    .popular {
      width: 100%;
      padding:15px;
      margin-top: 30px;
    }
    .item {
      width: 33%;
      background: aliceblue;
      margin: 20px;
      padding-top: 0;
      .body {
        padding: 25px;
      }

    }
    .item-wider {
      width: 33%;
      background: aliceblue;
      margin: 20px;
      padding: 25px;
      margin-top: 46px;
      margin-bottom: 40px;
    }
    .offer {
      font-size: 20px;
      font-weight: 500;
    }
    .title {
      font-size: 24px;
      font-weight: 600;
    }
    .sub-title {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  .contact-us {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .title {
    text-align: center;
    font-size: 23px;
    font-weight: 500;
  }
  @media screen and (max-width: 600px) {
    .item-container {
      display: flex;
      flex-direction: column;
      .item {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
      }

      .item-wider {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }
}
.feature {
  .check-item {
    text-align: center;
    font-size: 18px;
    color: #007bff
  }

  .fail-item {
    text-align: center;
    font-size: 18px;
    color: #dc3545
  }
  .header {
    background: #739dc1;
  }
  .light {
    background: aliceblue;
  }
  .dark {
    background: #c0dcf5;
  }
  .feature-table {
    overflow: auto;
  }
}
