<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body score-container">
        <h5 class="card-title text-primary mb-4">{{type}}</h5>
        <div class="row">
          <div class="col-md-3 d-flex align-items-center">
            <div class="d-flex flex-row align-items-center"><i class="fa fa-thumbs-down icon-md text-danger"></i>
              <p class="mb-0 ml-1"> {{categoryGroup.negativeCount}} mentions </p></div>
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <div class="d-flex flex-row align-items-center"><i class="fa fa-meh icon-md text-warning"></i>
              <p class="mb-0 ml-1"> {{categoryGroup.neutralCount}} mentions </p></div>
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <div class="d-flex flex-row align-items-center"><i class="fa fa-thumbs-up icon-md text-success"></i>
              <p class="mb-0 ml-1"> {{categoryGroup.positiveCount}} mentions </p></div>
          </div>
          <div class="col-md-3 d-flex align-items-center">
            <div class="d-flex flex-row align-items-center"><i class="icon-md text-success"></i>
              <p class="mb-0 ml-1"> Score: {{categoryGroup.score}}%</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body pagination-container">
        <ngb-pagination [collectionSize]="totalElements" [pageSize]="pageSize" [page]="page"
                        (pageChange)="loadComments($event)"
                        [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                        aria-label="Default pagination" class="d-flex justify-content-center pagination-success"></ngb-pagination>
      </div>
      <div class="card-body inbox">
        <div *ngFor="let comment of commentList; let odd = odd ; let i = index"
             [ngClass]="odd ? 'odd' : 'even'"
             [class.selected]="selectedIndex === i"
             (click)="selectItem(comment, i)">
          <p class="comment-container">{{comment.content}}</p>
          <div class="rating-container">
            <span class="rating-text">{{comment.rating}} / 10</span>
            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
            </ng-template>

            <ngb-rating [(rate)]="comment.ratingOverFive" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
          </div>
          <div class="brand-container">
            <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('booking')" src="assets/images/bookingCom.png">
            <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('hotelscom')" src="assets/images/hotelsCom.jpg" >
            <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('tripadvisor')" src="assets/images/tripadvisor.png">
            <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('tatilsepeti')" src="assets/images/tatilSepeti.png">
            <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('google')" src="assets/images/google.png">
            <img class="mdi mdi-cube icon-lg big-icon" *ngIf="comment.source.toLowerCase().includes('otelpuan')" src="assets/images/otelPuan.png" >
            <img class="mdi mdi-cube icon-lg big-icon" *ngIf="comment.source.toLowerCase().includes('odamax')" src="assets/images/odamax.jpg">
            <img class="mdi mdi-cube icon-lg big-icon" *ngIf="comment.source.toLowerCase().includes('agoda')" src="assets/images/agoda.png">
            <span class="brand">{{comment.source}}</span>
            <span class="date">{{comment.commentDate  | date:'MM/dd/yyyy'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 grid-margin stretch-card comment-detail">
    <div class="card">
      <div class="card-body">
        <div *ngIf="selectedItem != null">
          <div class="summary-container">
            <div class="summary">
              <p class="title">
                <i class="fa fa-star star pointer" *ngIf="selectedItem.starred" (click)="markAsStarred(selectedItem)"></i>
                <i class="fa fa-star-o star pointer" *ngIf="!selectedItem.starred" (click)="markAsStarred(selectedItem)"></i>
                {{selectedItem.content}}</p>
              <img class="mdi mdi-cube icon-lg icon" *ngIf="selectedItem.source.toLowerCase().includes('booking')" src="assets/images/bookingCom.png">
              <img class="mdi mdi-cube icon-lg icon" *ngIf="selectedItem.source.toLowerCase().includes('hotelscom')" src="assets/images/hotelsCom.jpg" >
              <img class="mdi mdi-cube icon-lg icon" *ngIf="selectedItem.source.toLowerCase().includes('tripadvisor')" src="assets/images/tripadvisor.png">
              <img class="mdi mdi-cube icon-lg icon" *ngIf="selectedItem.source.toLowerCase().includes('tatilsepeti')" src="assets/images/tatilSepeti.png">
              <img class="mdi mdi-cube icon-lg icon" *ngIf="selectedItem.source.toLowerCase().includes('google')" src="assets/images/google.png">
              <img class="mdi mdi-cube icon-lg big-icon" *ngIf="selectedItem.source.toLowerCase().includes('otelpuan')" src="assets/images/otelPuan.png" >
              <img class="mdi mdi-cube icon-lg big-icon" *ngIf="selectedItem.source.toLowerCase().includes('odamax')" src="assets/images/odamax.jpg">
              <img class="mdi mdi-cube icon-lg big-icon" *ngIf="selectedItem.source.toLowerCase().includes('agoda')" src="assets/images/agoda.png">
              <span class="brand">{{selectedItem.source}}</span>
              <span class="brand">Published on {{selectedItem.commentDate  | date:'MM/dd/yyyy'}}</span>
              <p class="written" >Written By: {{selectedItem.author}}</p>
              <span class="written" *ngIf="selectedItem.travelDate != null">Travel date: {{selectedItem.travelDate  | date:'MM/dd/yyyy'}}</span>
            </div>
            <div class="review">
              <p class="rating"
                 [ngClass]="{'text-danger': selectedItem.rating < 6, 'text-warning':(selectedItem.rating >= 6 && selectedItem.rating < 8), 'text-success':selectedItem.rating >= 8 }"> {{selectedItem.rating}} / 10</p>
              <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
              </ng-template>
              <ngb-rating [(rate)]="selectedItem.ratingOverFive" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
            </div>
          </div>
          <p class="content">{{selectedItem.content}}</p>
          <p class="content-answer" *ngIf="selectedItem.answer != null">{{selectedItem.answer}}</p>
          <p class="content-answer" *ngIf="selectedItem.translatedText != null">{{selectedItem.translatedText}}</p>
          <div class="template-demo">
            <button type="button" class="btn btn-success" (click)="translate(selectedItem)"><i class="fa fa-language"></i>Translate</button>
            <button type="button" class="btn btn-warning" (click)="markAsStarred(selectedItem)"><i class="mdi mdi-star"></i>Mark as Important</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

