<div class="logo-container">
  <img src="assets/images/banner.png" class="logo" alt="logo" />
  <p class="subtitle">{{ 'LOGIN.WELCOME' | translate }}</p>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>{{ 'GENERAL.EMAIL' | translate }}</label>
    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">{{ 'LOGIN.EMAIL_REQUIRED' | translate }}</div>
    </div>
  </div>
  <div class="form-group">
    <label>{{ 'LOGIN.PASSWORD' | translate }}</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">{{ 'LOGIN.PASSWORD_REQUIRED' | translate }}</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      {{ 'LOGIN.LOGIN' | translate }}
    </button>
    <a routerLink="/auth/register" class="btn btn-link">{{ 'LOGIN.REGISTER' | translate }}</a>
  </div>
</form>

<ng-template #fremiumModal let-modal>
  <div class="modal-body">
    <div class="demo-container">
      <i class="fas fa-rocket demo-icon"></i>
      <p class="pro-text">{{ 'LOGIN.PRO_TEXT' | translate }}
    </div>
  </div>
  <div class="modal-footer">
    <div class="template-demo">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">
        {{ 'GENERAL.CANCEL' | translate }}
      </button>
      <button type="button" class="btn btn-primary" (click)="upgradeToPro()">
        <i class="fas fa-rocket"></i> {{ 'PRICING.UPGRADE_TO_PRO' | translate }}
      </button>
    </div>
  </div>
</ng-template>
