.table td {
  line-height: 18px !important;
  white-space: normal !important;
}

.comment:hover {
  text-decoration: underline;
  cursor: pointer;
}

.full {
  display: flex;
  flex-direction: row;
}

.float-right {
  width: 70%;
}
.float-left {
  width: 30%;
}

.content-container {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin-bottom: 15px;
  padding: 15px;

  .content-title {
    margin-bottom: 5px;
    font-weight: 500;
  }

  .content-answer {
    line-height: 26px;
    padding-left: 20px;

  }
}

.detail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.status {
  margin-bottom: 10px;
  .author {
    margin: 0;
    margin-left: auto;
  }
}
.category-icon {
  font-size: 30px;
  max-width: 45px;
}
.table-center {
  text-align: center;
}
.table-icon {
  font-size: 16px;
}
.written {
  margin: 0;
  margin-left: 10px;
}
.finished {
  margin-bottom: 10px;
}
.assignee-container {
  display: flex;
  flex-direction: column;
  background-color: #f7dada;
  padding: 15px;
  margin-bottom: 20px;
}
.empty-text {
  text-align: center;
}
@media screen and (max-width: 880px) {
  table thead {
    display: none;
  }
  table td {
    display: flex;
  }
  table tr {
    border: 1px solid #a19b9b;
  }

  table td::before {
    content: attr(label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
  }
  .star-container {
    text-align: start;
  }
}
.table-bordered td:nth-child(1) {
  word-wrap:break-word;
  white-space: normal;
}
.table-bordered td:nth-child(1) {

}
.table-bordered{
  table-layout: fixed;
  .text {
    line-height: 18px;
    font-family: Poppins,Helvetica,sans-serif;
    white-space: break-spaces;
  }
}
.form-check-label {
  margin-right: 10px;
  .status {
    margin-right: 5px;
  }
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
}
.rating-filter {
  width: 100%;
}
.date-filter {
  width: 100%;
  padding: 5px;
}
.task-result {
  padding: 0;
  text-align: end;
}
@media (max-width: 880px) {
  .task-result {
    padding: 0;
    text-align: start;
  }
}
.interval-text {
  margin-left: 5px;
}
.rating-bar {
  margin-left: auto;
}
.task-status:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
