<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
    <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/task.svg">
      {{ 'TASK.TITLE' | translate }}
    </span>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 title-button">
    <button type="button" class="btn btn-primary" (click)="openTaskModal(newTaskModal)"><i class="mdi mdi-plus"></i>
      {{ 'TASK.CREATE_TASK' | translate }}
    </button>
    <button type="button" class="btn btn-primary" (click)="openTaskModal(filterModal)"><i class="mdi mdi-filter"></i>
      {{ 'TASK.FILTER_TASK' | translate }}
    </button>
  </div>
</div>

<div class="row" *ngIf="taskStats != null">
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-margin stretch-card task-status" (click)="filterByStatus('CLOSED')">
    <div class="card card-statistics">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-check category-icon text-success"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">{{ 'TASK.CLOSED' | translate }}</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 text-success">{{taskStats.finished}}</h3>
              <p class="text-right mb-0" *ngIf="taskStats.finished > 0">{{ 'TASK.TASKS' | translate }}</p>
              <p class="text-right mb-0" *ngIf="taskStats.finished == 0">{{ 'TASK.TASK' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-margin stretch-card task-status" (click)="filterByStatus('PENDING')">
    <div class="card card-statistics">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-clock category-icon text-warning"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">{{ 'TASK.PENDING' | translate }}</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 text-warning">{{taskStats.pending}}</h3>
              <p class="text-right mb-0" *ngIf="taskStats.pending > 0">{{ 'TASK.TASKS' | translate }}</p>
              <p class="text-right mb-0" *ngIf="taskStats.pending == 0">{{ 'TASK.TASK' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-margin stretch-card task-status" (click)="filterByStatus('REMINDER')">
    <div class="card card-statistics">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-hourglass-end category-icon text-danger"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">{{ 'TASK.REMINDER' | translate }}</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 text-danger">{{taskStats.reminder}}</h3>
              <p class="text-right mb-0" *ngIf="taskStats.reminder > 0">{{ 'TASK.TASKS' | translate }}</p>
              <p class="text-right mb-0" *ngIf="taskStats.reminder == 0">{{ 'TASK.TASK' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 grid-margin stretch-card" (click)="filterByStatus('ALL')">
    <div class="card card-statistics">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-percentage category-icon"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">{{ 'TASK.PROGRESS_RATE' | translate }}</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 text-success" *ngIf="taskStats.successRate > 70">{{taskStats.successRate}}</h3>
              <h3 class="font-weight-medium text-right mb-0 text-warning" *ngIf="taskStats.successRate >= 50 && taskStats.successRate <= 70">{{taskStats.successRate}}</h3>
              <h3 class="font-weight-medium text-right mb-0 text-danger" *ngIf="taskStats.successRate < 50">{{taskStats.successRate}}</h3>
              <p class="text-right mb-0">{{taskStats.finished}} / {{taskStats.total}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="employees != null">
  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 grid-margin stretch-card task-status" *ngFor="let employee of employees" (click)="filterByEmployee(employee.employeeId)">
    <div class="card card-statistics">
      <div class="card-body pointer employee-item">
        <div class="clearfix employee-container">
          <div class="float-employee">
            <p class="mb-0 name">{{employee.firstName}} {{employee.lastName}}</p>
          </div>
          <div class="float-count">
            <h3 class="text-right mb-0">{{employee.taskCount}}</h3>
            <p class="text-right mb-0" *ngIf="employee.taskCount == 0">{{ 'TASK.TASK' | translate }}</p>
            <p class="text-right mb-0" *ngIf="employee.taskCount > 0">{{ 'TASK.TASKS' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 grid-margin stretch-card" *ngIf="taskStats != null" (click)="filterByStatus('ALL')">
    <div class="card card-statistics">
      <div class="card-body pointer employee-item">
        <div class="clearfix">
          <div class="float-left">
            <p class="category-icon">{{taskStats.total}}</p>
          </div>
          <div class="float-right">
            <p class="text-right mb-0">{{ 'GENERAL.TOTAL' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="tasks.length > 0">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ 'TASK.TASK_PLURAL' | translate }}</h4>
        <div class="table-responsive">
          <table class="table table-bordered" #taskTable>
            <thead>
            <tr>
              <th>
                {{ 'GENERAL.ASSIGNED' | translate }}
              </th>
              <th style="width: 15%">
                {{ 'GENERAL.STATUS' | translate }}
              </th>
              <th style="width: 30%">
                {{ 'GENERAL.REVIEW' | translate }}
              </th>
              <th style="width: 15%">
                {{ 'TASK.NOTE' | translate }}
              </th>
              <th style="width: 15%">
                {{ 'TASK.RESULT_NOTE' | translate }}
              </th>
              <th style="width: 15%">
                {{ 'TASK.RESULT_STATUS' | translate }}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks">
              <td class="comment"
                  (click)="openDetailPopup(task, contentTaskDetail)">
                {{task.employee.firstName}} {{task.employee.lastName}}
              </td>
              <td class="comment table-center"
                  (click)="openDetailPopup(task, contentTaskDetail)">
                <i class="fa fa-clock table-icon text-warning" *ngIf="task.taskStatus == 'PENDING'"></i>
                <i class="fa fa-check table-icon text-success" *ngIf="task.taskStatus == 'CLOSED'"></i>
                <i class="fa fa-hourglass-end table-icon text-danger" *ngIf="task.taskStatus == 'REMINDER'"></i>
                <span *ngIf="task.days > 0" class="interval-text">{{task.days}} {{ 'GENERAL.DAYS_AGO' | translate }}</span>
              </td>
              <td class="text comment"
                  (click)="openDetailPopup(task, contentTaskDetail)"
                  *ngIf="task.comment != null && task.comment.content != null && task.comment.content.length <= 100">
                {{task.comment.content}}
              </td>
              <td class="text comment"
                  (click)="openDetailPopup(task, contentTaskDetail)"
                  *ngIf="task.comment != null &&  task.comment.content != null && task.comment.content.length > 100">
                {{task.comment.content | slice:0:100}}...
              </td>
              <td class="text comment"
                  (click)="openDetailPopup(task, contentTaskDetail)"
                  *ngIf="task.comment == null">
              </td>
              <td class="comment"
                  (click)="openDetailPopup(task, contentTaskDetail)">
                {{task.description}}
              </td>
              <td class="comment"
                  (click)="openDetailPopup(task, contentTaskDetail)">
                {{task.resultNote}}
              </td>
              <td class="comment"
                  (click)="openDetailPopup(task, contentTaskDetail)">
                <span class="text-success" *ngIf="task.resultStatus == 'SUCCESSFULLYCOMPLETED'"> {{ 'TASK.SUCCESSFULLY_COMPLETED' | translate }}</span>
                <span class="text-danger" *ngIf="task.resultStatus == 'CANNOTBECOMPLETED'"> {{ 'TASK.CAN_NOT_BE_COMPLETED' | translate }}</span>
                <span class="text-success" *ngIf="task.resultStatus == 'PARTIALLYCOMPLETED'"> {{ 'TASK.PARTIALLY_COMPLETED' | translate }}</span>
                <span class="text-warning" *ngIf="task.resultStatus == 'NOTTECHNICALLYPOSSIBLE'"> {{ 'TASK.NOT_TECHNICALLY_POSSIBLE' | translate }}</span>
              </td>
            </tr>
            </tbody>
          </table>
          <ngb-pagination [collectionSize]="totalElements" [pageSize]="pageSize" [page]="page"
                          (pageChange)="loadTasks($event)"
                          [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                          aria-label="Default pagination"
                          class="d-flex pagination justify-content-end pagination-success"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="tasks.length == 0">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive empty-text">
          <i class="fa fa-exclamation-triangle icon-md text-danger"></i> {{ 'TASK.NO_TASK' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTaskDetail let-modalReview>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-comment-detail">{{ 'TASK.ASSIGNED_TASK' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalReview.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="summary-container" *ngIf="!reminderFlow">
      <div class="summary">
        <div class="assignee-container">
          <div class="detail-container status">
            <p class="written">{{ 'GENERAL.CREATED_AT' | translate }}: {{selectedTask.creationDate  | date:'dd/MM/yyyy'}}</p>
            <p class="author">{{ 'GENERAL.ASSIGNED' | translate }}
              to: {{selectedTask.employee.firstName }} {{selectedTask.employee.lastName }}</p>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <p class="written finished" *ngIf="selectedTask.endDate != null">
                {{ 'GENERAL.CLOSED' | translate }}: {{selectedTask.creationDate  | date:'dd/MM/yyyy'}}
                <i class="fa fa-check-circle"></i>
              </p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <p class="written author task-result">
                <span class="text-success" *ngIf="selectedTask.resultStatus == 'SUCCESSFULLYCOMPLETED'"> {{ 'TASK.SUCCESSFULLY_COMPLETED' | translate }}</span>
                <span class="text-danger" *ngIf="selectedTask.resultStatus == 'CANNOTBECOMPLETED'"> {{ 'TASK.CAN_NOT_BE_COMPLETED' | translate }}</span>
                <span class="text-success" *ngIf="selectedTask.resultStatus == 'PARTIALLYCOMPLETED'"> {{ 'TASK.PARTIALLY_COMPLETED' | translate }}</span>
                <span class="text-warning" *ngIf="selectedTask.resultStatus == 'NOTTECHNICALLYPOSSIBLE'"> {{ 'TASK.NOT_TECHNICALLY_POSSIBLE' | translate }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="detail-container" *ngIf="selectedTask.comment != null">
          <app-channel-icon [source]="selectedTask.comment.source.toLowerCase()"></app-channel-icon>
          <p class="written"> {{selectedTask.comment.author}}</p>
          <p class="written">{{selectedTask.comment.commentDate  | date:'dd/MM/yyyy'}}</p>
          <p class="written rating-bar"
             [ngClass]="{'text-danger': selectedTask.comment.rating < 6, 'text-warning':(selectedTask.comment.rating >= 6 && selectedTask.comment.rating < 8), 'text-success':selectedTask.comment.rating >= 8 }"> {{selectedTask.comment.rating}}
            / 10</p>
        </div>
        <p class="content-comment" *ngIf="selectedTask.comment != null">{{selectedTask.comment.content}}</p>
        <div class="content-container" *ngIf="selectedTask.comment != null && selectedTask.comment.translatedText != null">
          <p class="text-danger content-title">{{ 'GENERAL.TRANSLATED_REVIEW' | translate }}: </p>
          <p class="content-answer">{{selectedTask.comment.translatedText}}</p>
        </div>
        <div class="content-container" *ngIf="selectedTask.description != null">
          <p class="text-danger content-title">{{ 'TASK.NOTE_FROM' | translate }}: {{selectedTask.creator.firstName}} {{selectedTask.creator.lastName}}:  </p>
          <p class="content-answer">{{selectedTask.description}}</p>
        </div>
        <div class="content-container" *ngIf="selectedTask.resultNote != null">
          <p class="text-danger content-title">{{ 'TASK.RESULT_NOTE' | translate }}: </p>
          <p class="content-answer">{{selectedTask.resultNote}}</p>
        </div>
      </div>
    </div>
    <div class="summary-container" *ngIf="reminderFlow">
      <div class="summary">
        <div class="assignee-container">
          <div class="detail-container status">
            <p class="written">{{ 'GENERAL.CREATED_AT' | translate }}: {{selectedTask.creationDate  | date:'dd/MM/yyyy'}}</p>
            <p class="author">{{ 'GENERAL.ASSIGNED' | translate }}
              to: {{selectedTask.employee.firstName }} {{selectedTask.employee.lastName }}</p>
          </div>
        </div>
        <div class="detail-container" *ngIf="selectedTask.comment != null">
          <app-channel-icon *ngIf="selectedTask.comment != null" [source]="selectedTask.comment.source.toLowerCase()"></app-channel-icon>
          <app-channel-icon *ngIf="selectedTask.comment == null" [source]="'hoteluplift'"></app-channel-icon>

          <p class="written"> {{selectedTask.comment.author}}</p>
          <p class="written">{{selectedTask.comment.commentDate  | date:'dd/MM/yyyy'}}</p>
          <p class="written rating-bar"
             [ngClass]="{'text-danger': selectedTask.comment.rating < 6, 'text-warning':(selectedTask.comment.rating >= 6 && selectedTask.comment.rating < 8), 'text-success':selectedTask.comment.rating >= 8 }"> {{selectedTask.comment.rating}}
            / 10</p>
        </div>
        <p class="content-comment" *ngIf="selectedTask.comment != null">{{selectedTask.comment.content}}</p>
        <div class="content-container" *ngIf="selectedTask.comment != null && selectedTask.comment.translatedText != null">
          <p class="text-danger content-title">{{ 'GENERAL.TRANSLATED_REVIEW' | translate }}: </p>
          <p class="content-answer">{{selectedTask.comment.translatedText}}</p>
        </div>
        <div class="content-container" *ngIf="selectedTask.description != null">
          <p class="text-danger content-title">{{ 'TASK.NOTE_FROM' | translate }}: {{selectedTask.creator.firstName}} {{selectedTask.creator.lastName}}:  </p>
          <p class="content-answer">{{selectedTask.description}}</p>
        </div>
        <p>{{ 'TASK.REMINDER_CHANNEL' | translate }}? </p>
        <div *ngIf="selectedTask.employee.phoneNumber != null">
          <input type="checkbox"
                 [checked]="remindWhatsapp"
                 (change)="remindWhatsapp = !remindWhatsapp"> Whatsapp
        </div>
        <div *ngIf="selectedTask.employee.email != null">
          <input type="checkbox"
                 [checked]="remindEmail"
                 (change)="remindEmail = !remindEmail">
           Mail
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger"
            *ngIf="(selectedTask.taskStatus == 'PENDING' || selectedTask.taskStatus == 'REMINDER') && reminderFlow" (click)="reminderFlow = false">Cancel</button>
    <button type="button" class="btn btn-primary" *ngIf="selectedTask.taskStatus == 'PENDING' || selectedTask.taskStatus == 'REMINDER'" (click)="remindTask()">Remind Task</button>
  </div>
</ng-template>

<ng-template #filterModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'TASK.FILTER_TASK' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="assignee-form">
      <div class="form-group">
        <label>{{ 'GENERAL.EMPLOYEE' | translate }}</label>
        <div class="input-group task-input">
          <input id="assignee" type="text" class="form-control" name="assignee"
                 [resultFormatter]="resultFormatter"
                 [inputFormatter]="inputFormatter"
                 [(ngModel)]="taskFilter.employee" [ngbTypeahead]="search"
                 (focus)="focus$.next($event.target.value)"
          />
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'GENERAL.STATUS' | translate }}</label>
        <div class="input-group">
          <label class="form-check-label" *ngFor="let status of statuses; let i = index;">
            <input type="checkbox" value="{{status}}" class="status"
                   (change)="changeFilteredStatus(i)"
                   [checked]="status.checked">{{status.name}}
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="clearFilter()">{{ 'GENERAL.CLEAR' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="getFilteredTasks()">{{ 'GENERAL.FILTER' | translate }}</button>
  </div>
</ng-template>

<ng-template #newTaskModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-create-task">{{ 'TASK.CREATE_TASK' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="assignee-form">
      <div class="form-group">
        <label>{{ 'GENERAL.EMPLOYEE' | translate }}</label>
        <div class="input-group task-input">
          <input id="newAssignee" type="text" class="form-control" name="assignee"
                 [resultFormatter]="resultFormatter"
                 [inputFormatter]="inputFormatter"
                 [(ngModel)]="newTask.employee" [ngbTypeahead]="search"
                 (focus)="focus$.next($event.target.value)"
          />
        </div>
      </div>
      <div class="form-group answer">
        <label>{{ 'TASK.NOTE' | translate }}</label>
        <div class="input-group">
          <textarea type="text" name="content" class="form-control" #inputTarget
                    placeholder="{{'TASK.ADD_TASK_PLACEHOLDER' | translate}}" rows="12" [(ngModel)]="newTask.description"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="createTask()">{{ 'TASK.CREATE_TASK' | translate }}</button>
  </div>
</ng-template>
