<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
      <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/category.svg">
      {{ 'VISIT.TITLE' | translate }}
    </span>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 title-button">

    <button type="button" class="btn btn-primary" (click)="openFilterModal()"><i class="mdi mdi-filter"></i>
      {{ 'VISIT.FILTER_HOTEL' | translate }}
    </button>
  </div>
</div>

<div class="row" *ngIf="hotels.length > 0">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ 'VISIT.TITLE' | translate }}</h4>
        <div class="table-responsive">
          <table class="table table-bordered" #taskTable>
            <thead>
            <tr>
              <th style="width: 30%" (click)="sortHotels('name')" class="clickable">
                {{ 'GENERAL.HOTEL_NAME' | translate }}
                <span *ngIf="columnName == 'name'">
                  <span *ngIf="direction=='ASC'">
                    <i class="fa fa-chevron-down"></i>
                  </span>
                  <span *ngIf="direction=='DESC'">
                    <i class="fa fa-chevron-up"></i>
                  </span>
                </span>
              </th>
              <th style="width: 30%" (click)="sortHotels('hotelStatus')" class="clickable">
                {{ 'GENERAL.STATUS' | translate }}
                <span *ngIf="columnName == 'hotelStatus'">
                  <span *ngIf="direction=='ASC'">
                    <i class="fa fa-chevron-down"></i>
                  </span>
                  <span *ngIf="direction=='DESC'">
                    <i class="fa fa-chevron-up"></i>
                  </span>
                </span>
              </th>
              <th style="width: 40%">
                {{ 'VISIT.LAST_VISIT' | translate }}
              </th>
              <th style="width: 10%" *ngIf="!isAdmin">
                {{ 'CRM.ASSIGNED' | translate }}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hotel of hotels">
              <td>
                {{hotel.name}}
                <span *ngIf="hotel.hasLink">*</span>
              </td>
              <td (click)="openHotelStatusModal(hotel)" class="comment">
                {{hotel.hotelStatus}}
              </td>
              <td class="comment" (click)="showVisitModal(hotel)">
                <span *ngIf="hotel.hotelVisitList.length > 0">
                  {{hotel.hotelVisitList[0].visitDate | date:'dd/MM/yyyy'}} {{hotel.hotelVisitList[0].visitType}}
                </span>
                <span *ngIf="hotel.hotelVisitList.length == 0">
                  {{ 'VISIT.ADD_VISIT' | translate }}
                </span>
              </td>
              <td *ngIf="!isAdmin">
                <i class="fa fa-check action-button text-primary action-icon" *ngIf="hotel.personal != null"></i>
                <span *ngIf="hotel.personal == null">--</span>
              </td>
            </tr>
            </tbody>
          </table>
          <ngb-pagination [collectionSize]="totalElements" [pageSize]="pageSize" [page]="page"
                          (pageChange)="loadHotels($event)"
                          [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                          aria-label="Default pagination"
                          class="d-flex pagination justify-content-end pagination-success"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #visitModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-contact-list-title">{{ 'VISIT.ADD_VISIT' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered" *ngIf="hotelVisits.length > 0">
      <thead>
      <tr>
        <th>
          {{ 'VISIT.VISIT_DATE' | translate }}
        </th>
        <th>
          {{ 'VISIT.VISIT_TYPE' | translate }}
        </th>
        <th>
          {{ 'GENERAL.NOTE' | translate }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hotelVisit of hotelVisits">
        <td class="text star-container">
          {{hotelVisit.visitDate | date:'dd/MM/yyyy'}}
        </td>
        <td class="text star-container">
          {{hotelVisit.visitType}}
        </td>
        <td class="text star-container">
          {{hotelVisit.notes}}
        </td>
      </tr>
      </tbody>
    </table>

    <form class="visit-form">
      <div class="form-group">
        <div class="form-group">
          <label>{{ 'VISIT.VISIT_DATE' | translate }}</label>
          <div class="input-group">
            <input  type="date" name="checkIn" class="form-control" [ngModel] ="newVisit.visitDate | date:'yyyy-MM-dd'" (ngModelChange)="newVisit.visitDate = $event" />
          </div>
        </div>
        <div class="form-group">
          <label>{{ 'VISIT.VISIT_TYPE' | translate }}</label>
          <div ngbDropdown container="body" class="title-container  report-container">
            <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>{{selectedVisitType.value}}</button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem *ngFor="let visitType of visitTypes"
                      (click)="selectVisitType(visitType)">{{visitType.value}}</button>
            </div>
          </div>
        </div>
        <label>{{ 'GENERAL.NOTE' | translate }}</label>
        <div class="input-group">
          <textarea id="notes" type="text" class="form-control"
                    name="notes" [(ngModel)]="newVisit.notes" rows="3"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">{{ 'GENERAL.CLOSE' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="saveHotelVisit()">{{ 'VISIT.ADD_VISIT' | translate }}</button>
  </div>
</ng-template>
<ng-template #filterModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-filter-hotel-title">{{ 'CRM.FILTER_HOTEL' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="assignee-form">
      <div class="form-group">
        <label>{{ 'GENERAL.HOTEL_NAME' | translate }}</label>
        <div class="input-group task-input">
          <input id="name" type="text" class="form-control" name="name"
                 (ngModelChange)="filterHotel.name = $event.toLowerCase()"
                 [(ngModel)]="filterHotel.name"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'GENERAL.STATUS' | translate }}</label>
        <div class="input-group">
          <label class="form-check-label" *ngFor="let status of statuses; let i = index;">
            <input type="checkbox" value="{{status}}" class="status"
                   (change)="changeFilteredStatus(i)"
                   [checked]="status.checked">{{status.title}}
          </label>
        </div>
      </div>
      <div class="form-group" *ngIf="isAdmin">
        <label>{{ 'CRM.PERSONAL' | translate }}</label>
        <div ngbDropdown container="body" class="title-container ">
          <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>
            {{selectedFilterPersonal.firstName}} {{selectedFilterPersonal.lastName}}
          </button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let personal of personals"
                    (click)="selectFilterPersonal(personal)">{{personal.firstName}} {{personal.lastName}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="clearFilter()">{{ 'GENERAL.CLEAR' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="loadHotels()">{{ 'GENERAL.FILTER' | translate }}</button>
  </div>
</ng-template>
<ng-template #hotelStatusModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'CRM.SELECT_STATUS' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="assignee-form">
      <div class="form-group">
        <div class="status-container" *ngIf="emptyStatus">
          <p>{{ 'CRM.SELECT_STATUS_TO_CONTINUE' | translate }}</p>
        </div>
        <div ngbDropdown container="body" class="title-container ">
          <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>{{selectedStatus.title}}</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let hotelStatus of hotelStatuses"
                    (click)="selectStatus(hotelStatus)">{{hotelStatus.title}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="changeHotelStatus()" *ngIf="isAdmin">{{ 'GENERAL.SAVE' | translate }}</button>
    <button type="button" class="btn btn-outline-dark" (click)="requestChangeHotelStatus()" *ngIf="!isAdmin">{{ 'CRM.REQUEST_CHANGE' | translate }}</button>
  </div>
</ng-template>
