<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
      <i class="fa fa-tools title-icon"></i>
      {{ 'WIDGET.TITLE' | translate }}
    </span>
  </div>
</div>

<div class="row" *ngIf="widgetSettings != null">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <form class="widget-settings">
          <div class="form-group">
            <label class="filter-title">{{ 'WIDGET.RATING' | translate }}</label>
            <div class="input-group rating-filter">
              <ngx-slider [(value)]="widgetSettings.minRating" [(highValue)]="widgetSettings.maxRating"
                          [options]="options"></ngx-slider>
            </div>
          </div>
          <div class="form-group">
            <label class="filter-title">{{ 'WIDGET.SHOW_CHANNEL' | translate }}</label>
            <div class="input-group channel-filter">
              <div class="input-group channel-line">


                <div *ngFor="let commentSource of commentSources; let i = index;">
                  <input type="checkbox"
                         (change)="changeFilteredChannel(i)"
                         [checked]="commentSource.checked">
                  <img class="mdi mdi-cube icon-lg channel-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('booking')"
                       src="assets/images/bookingCom.png">
                  <img class="mdi mdi-cube icon-lg channel-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('hotelscom')"
                       src="assets/images/hotelsCom.jpg">
                  <img class="mdi mdi-cube icon-lg channel-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('tripadvisor')"
                       src="assets/images/tripadvisor.png">
                  <img class="mdi mdi-cube icon-lg channel-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('tatilsepeti')"
                       src="assets/images/tatilSepeti.png">
                  <img class="mdi mdi-cube icon-lg channel-big-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('google')"
                       src="assets/images/google.png">
                  <img class="mdi mdi-cube icon-lg channel-big-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('otelpuan')"
                       src="assets/images/otelPuan.png">
                  <img class="mdi mdi-cube icon-lg channel-big-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('odamax')"
                       src="assets/images/odamax.jpg">
                  <img class="mdi mdi-cube icon-lg channel-big-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('agoda')"
                       src="assets/images/agoda.png">
                  <img class="mdi mdi-cube icon-lg channel-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('hoteluplift')"
                       src="assets/images/logo.png">
                  <img class="mdi mdi-cube icon-lg channel-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('holidaycheck')"
                       src="assets/images/holidayCheck.png">
                </div>
              </div>
            </div>
          </div>
          <div class="row image-row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label class="filter-title">{{ 'WIDGET.HORIZONTAL_POSITION' | translate }}</label>
                <div class="input-group rating-filter">
                  <div ngbDropdown>
                    <button class="btn btn-outline-primary"
                            id="dropdownHorizontal" ngbDropdownToggle>{{selectedHorizontal.name}}</button>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem *ngFor="let horizontalPosition of horizontalPositions"
                              (click)="selectVerticalPosition(horizontalPosition.value)">{{horizontalPosition.name}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="filter-title">{{ 'WIDGET.VERTICAL_POSITION' | translate }}</label>
                <div class="input-group rating-filter">
                  <div ngbDropdown>
                    <button class="btn btn-outline-primary"
                            id="dropdownVertical" ngbDropdownToggle>{{selectedVertical.name}}</button>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem *ngFor="let verticalPosition of verticalPositions"
                              (click)="selectVerticalPosition(verticalPosition.value)">{{verticalPosition.name}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="filter-title">{{ 'WIDGET.DARK_THEME' | translate }}</label>
                <div class="input-group rating-filter">
                  <label class="form-check-label">
                    <input type="checkbox"
                           [checked]="widgetSettings.darkMode"
                           (change)="changeDarkMode()">
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="filter-title">{{ 'WIDGET.SHOW_REVIEW_COUNT' | translate }}</label>
                <div class="input-group">
                  <input id="itemCount" type="number" class="form-control" name="itemCount"
                         [(ngModel)]="widgetSettings.itemCount"/>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 widget-container" *ngIf="!widgetSettings.darkMode">
              <span class="widget-type">{{ 'WIDGET.LIGHT_THEME' | translate }}</span>
              <img class="widget-image"
                   src="assets/images/widget_light.jpg">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 widget-container" *ngIf="widgetSettings.darkMode">
              <span class="widget-type">{{ 'WIDGET.DARK_THEME' | translate }}</span>
              <img class="widget-image"
                   src="assets/images/widget_dark.jpeg">
            </div>
          </div>
          <div class="code-block">
            <label class="filter-title">{{ 'WIDGET.EXPLANATION' | translate }}</label>
            <pre>
                <code>
                  {{code}}
                </code>
              </pre>
          </div>
          <span class="text-danger">{{warningText}}</span>
          <button type="button" class="btn btn-primary fa-pull-right" (click)="save()">{{ 'GENERAL.SAVE' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
