<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
    <i class="menu-icon mdi mdi-notification-clear-all title-icon"></i>
      {{ 'PERSONAL.TITLE' | translate }}
    </span>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 title-button">
    <button type="button" class="btn btn-primary" (click)="addNew()"><i class="mdi mdi-plus"></i>
      {{ 'PERSONAL.ADD_NEW' | translate }}
    </button>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" #personalTable>
            <thead>
            <tr>
              <th>
                {{ 'GENERAL.FIRST_NAME' | translate }}
              </th>
              <th>
                {{ 'GENERAL.LAST_NAME' | translate }}
              </th>
              <th>
                {{ 'GENERAL.PHONE_NUMBER' | translate }}
              </th>
              <th>
                {{ 'GENERAL.EMAIL' | translate }}
              </th>
              <th>
                {{ 'GENERAL.ACTION' | translate }}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let personal of personals">
              <td>
                {{personal.firstName}}
              </td>
              <td>
                {{personal.lastName}}
              </td>
              <td>
                {{personal.phoneNumber}}
              </td>
              <td>
                {{personal.email}}
              </td>
              <td class="text-primary">
                <a (click)="edit(personal)"><i class="fa fa-pencil-alt action-button" ></i></a>
                <a (click)="openDeletePopup(delete, personal)"><i class="fa fa-trash action-button" ></i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <ngb-pagination [collectionSize]="totalElements" [pageSize]="pageSize" [page]="page"
                          (pageChange)="loadPersonal($event)"
                          [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                          aria-label="Default pagination" class="d-flex pagination justify-content-end pagination-success"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #personalModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-answer-title">{{ 'PERSONAL.NEW_PERSONAL' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>{{ 'GENERAL.FIRST_NAME' | translate }}</label>
        <div class="input-group">
          <input id="firstName" type="text" class="form-control" name="firstName"
                 [(ngModel)]="newPersonal.firstName"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'GENERAL.LAST_NAME' | translate }}</label>
        <div class="input-group">
          <input id="lastName" type="text" class="form-control" name="lastName"
                 [(ngModel)]="newPersonal.lastName"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'GENERAL.PHONE_NUMBER' | translate }}</label>
        <div class="input-group">
          <input id="phoneNumber" type="phone" class="form-control" name="phoneNumber"
                 placeholder="905321234567"
                 [(ngModel)]="newPersonal.phoneNumber"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'GENERAL.EMAIL' | translate }}</label>
        <div class="input-group">
          <input id="email" type="email" class="form-control" name="email"
                 [(ngModel)]="newPersonal.email"/>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save(newPersonal)">{{ 'GENERAL.SAVE' | translate }}</button>
  </div>
</ng-template>

<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-excel-title">{{ 'PERSONAL.DELETE_PERSONAL' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body warning-body">
    <div class="warning-container">
      <i class="fa fa-exclamation-triangle warning text-warning"></i>
      <p>
        {{ 'PERSONAL.DELETE_PERSONAL_APPROVAL' | translate }}
      </p>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-warning" (click)="cancel()">{{ 'GENERAL.CANCEL' | translate }}</button>
    <button type="button" class="btn btn-outline-danger" (click)="deletePersonal()">{{ 'GENERAL.DELETE' | translate }}</button>
  </div>
</ng-template>
