<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
    <i class="menu-icon mdi mdi-notification-clear-all title-icon"></i>
      Employees
    </span>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 title-button">
    <button type="button" class="btn btn-primary" (click)="addNew()"><i class="mdi mdi-plus"></i>
      Add new employee
    </button>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" #employeeTable>
            <thead>
            <tr>
              <th>
                First Name
              </th>
              <th>
                Last Name
              </th>
              <th>
                Phone number
              </th>
              <th>
                Email
              </th>
              <th>
                Actions
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees">
              <td>
                {{employee.firstName}}
              </td>
              <td>
                {{employee.lastName}}
              </td>
              <td>
                {{employee.phoneNumber}}
              </td>
              <td>
                {{employee.email}}
              </td>
              <td class="text-primary">
                <a (click)="delete(employee)"><i class="fa fa-trash action-button" ></i></a>
                <a (click)="edit(employee)"><i class="fa fa-pencil-alt action-button" ></i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <ngb-pagination [collectionSize]="totalElements" [pageSize]="pageSize" [page]="page"
                          (pageChange)="loadEmployee($event)"
                          [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                          aria-label="Default pagination" class="d-flex pagination justify-content-end pagination-success"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #employeeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-answer-title">New Employee</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>First Name</label>
        <div class="input-group">
          <input id="firstName" type="text" class="form-control" name="firstName"
                 [(ngModel)]="newEmployee.firstName"/>
        </div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <div class="input-group">
          <input id="lastName" type="text" class="form-control" name="lastName"
                 [(ngModel)]="newEmployee.lastName"/>
        </div>
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <div class="input-group">
          <input id="phoneNumber" type="phone" class="form-control" name="phoneNumber"
                 placeholder="905321234567"
                 [(ngModel)]="newEmployee.phoneNumber"/>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <div class="input-group">
          <input id="email" type="email" class="form-control" name="email"
                 [(ngModel)]="newEmployee.email"/>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save(newEmployee)">Save</button>
  </div>
</ng-template>
