<span *ngIf="language=='Turkish'" class="flag-icon flag-icon-tr"></span>
<span *ngIf="language=='English'" class="flag-icon flag-icon-gb-eng"></span>
<span *ngIf="language=='German'" class="flag-icon flag-icon-de"></span>
<span *ngIf="language=='Arabic'" class="flag-icon flag-icon-sa"></span>
<span *ngIf="language=='Spanish'" class="flag-icon flag-icon-es"></span>
<span *ngIf="language=='French'" class="flag-icon flag-icon-fr"></span>
<span *ngIf="language=='Dutch'" class="flag-icon flag-icon-nl"></span>
<span *ngIf="language=='Japanese'" class="flag-icon flag-icon-jp"></span>
<span *ngIf="language=='Chinese'" class="flag-icon flag-icon-ch"></span>
<span *ngIf="language=='zh-tw'" class="flag-icon flag-icon-tw"></span>
<span *ngIf="language=='Portuguese'" class="flag-icon flag-icon-pt"></span>
