<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
      <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/category.svg">
      {{ 'CRM.TITLE' | translate }}
    </span>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 title-button">

    <button type="button" class="btn btn-primary" (click)="openFilterModal()"><i class="mdi mdi-filter"></i>
      {{ 'CRM.FILTER_HOTEL' | translate }}
    </button>
  </div>
</div>

<div class="row" *ngIf="hotels.length > 0">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{ 'CRM.HOTELS' | translate }}</h4>
        <div class="table-responsive">
          <table class="table table-bordered" #taskTable>
            <thead>
            <tr>
              <th style="width: 15%" (click)="sortHotels('name')" class="clickable">
                {{ 'CRM.NAME' | translate }}
                <span *ngIf="columnName == 'name'">
                  <span *ngIf="direction=='ASC'">
                    <i class="fa fa-chevron-down"></i>
                  </span>
                  <span *ngIf="direction=='DESC'">
                    <i class="fa fa-chevron-up"></i>
                  </span>
                </span>
              </th>
              <th style="width: 15%">
                {{ 'CRM.LAST_LOGIN' | translate }}
              </th>
              <!--
              <th style="width: 15%">
                {{ 'CRM.COMPETITION' | translate }}
              </th>
              -->
              <th style="width: 10%">
                {{ 'CRM.CONTACT_PERSON' | translate }}
              </th>
              <th style="width: 10%">
                {{ 'CRM.MAIL_LIST' | translate }}
              </th>
              <th style="width: 15%">
                {{ 'CRM.INFORMATION' | translate }}
              </th>
              <th style="width: 10%" (click)="sortHotels('hotelStatus')" class="clickable">
                {{ 'CRM.STATUS' | translate }}
                <span *ngIf="columnName == 'hotelStatus'">
                  <span *ngIf="direction=='ASC'">
                    <i class="fa fa-chevron-down"></i>
                  </span>
                  <span *ngIf="direction=='DESC'">
                    <i class="fa fa-chevron-up"></i>
                  </span>
                </span>
              </th>
              <th style="width: 10%" *ngIf="isAdmin">
                {{ 'CRM.ASSIGN' | translate }}
              </th>
              <th style="width: 7%" *ngIf="!isAdmin">
                {{ 'CRM.ASSIGNED' | translate }}
              </th>
              <th style="width: 7%">
                {{ 'GENERAL.ACTION' | translate }}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hotel of hotels">
              <td>
                {{hotel.name}}
              </td>
              <td class="comment" (click)="showLastLogins(hotel)">
                <span *ngIf="hotel.user != null && hotel.user.lastLogin">
                  {{hotel.user.lastLogin | date:'dd/MM/yyyy, h:mm a'}}
                </span>
              </td>
              <!--
              <td>
                <i class="fa fa-check action-button text-primary action-icon" *ngIf="hotel.categorizied"></i>
                <i class="fa fa-times action-button text-danger action-icon" *ngIf="!hotel.categorizied"></i>
              </td>
              -->
              <td class="comment" (click)="edit(hotel)">
                {{hotel.contactPerson}}
              </td>
              <td class="comment" (click)="showContactList(hotel)">
                {{ 'CRM.MAIL_LIST' | translate }}
              </td>
              <td class="comment" (click)="showHotelInformation(hotel)">
                {{ 'CRM.HOTEL_INFORMATION' | translate }}
              </td>
              <td (click)="openHotelStatusModal(hotel)" class="comment">
                {{hotel.hotelStatus}}
              </td>
              <td (click)="openAssignPersonalModal(hotel)"
                  *ngIf="hotel.personal != null && isAdmin" class="comment">
                {{hotel.personal.firstName}} {{hotel.personal.lastName}}
              </td>
              <td (click)="openAssignPersonalModal(hotel)"
                  *ngIf="hotel.personal == null && isAdmin" class="comment">
                {{ 'CRM.ASSIGN_PERSONAL' | translate }}
              </td>
              <th style="width: 7%" *ngIf="!isAdmin">
                <i class="fa fa-check action-button text-primary action-icon" *ngIf="hotel.personal != null"></i>
                <i class="fa fa-times action-button text-danger action-icon" *ngIf="hotel.personal == null"></i>
              </th>
              <td style="width: 7%">
                <span tooltip="Send weekly reviews" (click)="showActionsModal(hotel)">
                  <a><i class="fa fa-reply action-button text-primary action-icon"></i></a>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
          <ngb-pagination [collectionSize]="totalElements" [pageSize]="pageSize" [page]="page"
                          (pageChange)="loadHotels($event)"
                          [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                          aria-label="Default pagination"
                          class="d-flex pagination justify-content-end pagination-success"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="hotels.length == 0">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive empty-text">
          <i class="fa fa-exclamation-triangle icon-md text-danger"></i> {{ 'CRM.NO_HOTEL' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contactPersonModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-answer-title">{{ 'CRM.CONTACT_PERSON' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>{{ 'CRM.CONTACT_PERSON' | translate }}</label>
        <div class="input-group">
          <input id="contactPerson" type="text" class="form-control" name="contactPerson"
                 [(ngModel)]="hotelToEdit.contactPerson"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'CRM.CONTACT_NUMBER' | translate }}</label>
        <div class="input-group">
          <input id="contactNumber" type="text" class="form-control" name="contactNumber"
                 [(ngModel)]="hotelToEdit.contactNumber"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'GENERAL.NOTE' | translate }}</label>
        <div class="input-group">
          <textarea type="text" name="content" class="form-control" #inputTarget rows="12"
                    [(ngModel)]="hotelToEdit.contactNotes"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save(hotelToEdit)">{{ 'GENERAL.SAVE' | translate }}</button>
  </div>
</ng-template>

<ng-template #lastLoginModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-last-login-title">Last Logins for {{selectedHotel.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul *ngIf="userLogins.length > 0">
      <li *ngFor="let userLogin of userLogins">
        {{userLogin.user.firstName}} {{userLogin.user.lastName}} -- {{userLogin.loginDate  | date:'dd/MM/yyyy, h:mm a'}}
      </li>
    </ul>
    <p *ngIf="userLogins.length == 0">
      {{ 'CRM.NO_LOGIN' | translate }}
    </p>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<ng-template #contactListModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-contact-list-title">{{ 'CRM.CONTACT_LIST' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered contact-table" *ngIf="hotelContacts.length > 0">
      <thead>
      <tr>
        <th style="width: 25%">
          {{ 'GENERAL.FIRST_NAME' | translate }}
        </th>
        <th style="width: 25%">
          {{ 'GENERAL.LAST_NAME' | translate }}
        </th>
        <th>
          {{ 'CRM.POSITION' | translate }}
        </th>
        <th style="width: 15%">
          {{ 'CRM.NEW_REVIEW_MAIL' | translate }}
        </th>
        <th>
          {{ 'GENERAL.ACTION' | translate }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hotelContact of hotelContacts">
        <td class="text star-container">
          {{hotelContact.firstName}} {{hotelContact.lastName}}
        </td>
        <td class="text star-container">
          {{hotelContact.mail}}
        </td>
        <td class="text star-container">
          {{hotelContact.position}}
        </td>
        <td class="text star-container">
          <span tooltip="Disable New Review Mail" (click)="updateNewReviewStatus(hotelContact)" *ngIf="hotelContact.sentNewReviewMail">
            <i class="fa fa-check action-button text-primary action-icon"></i>
          </span>
          <span tooltip="Enable New Review Mail" (click)="updateNewReviewStatus(hotelContact)" *ngIf="!hotelContact.sentNewReviewMail">
            <i class="fa fa-times action-button text-danger action-icon"></i>
          </span>
        </td>
        <td class="text star-container">
          <a (click)="deleteHotelContact(hotelContact)"><i class="fa fa-trash crm-action"></i></a>
          <a (click)="activateHotelContact(hotelContact)" class="text-primary" *ngIf="hotelContact.active == false">{{ 'GENERAL.ACTIVATE' | translate }}</a>
          <a (click)="deactivateHotelContact(hotelContact)" class="text-primary" *ngIf="hotelContact.active == true">{{ 'GENERAL.DEACTIVATE' | translate }}</a>
        </td>
      </tr>
      </tbody>
    </table>

    <form>
      <div class="form-group">
        <div class="form-group">
          <label>{{ 'GENERAL.FIRST_NAME' | translate }}</label>
          <div class="input-group">
            <input id="firstName" type="text" class="form-control" name="firstName"
                   [(ngModel)]="newHotelContact.firstName"/>
          </div>
        </div>
        <div class="form-group">
          <label>{{ 'GENERAL.LAST_NAME' | translate }}</label>
          <div class="input-group">
            <input id="lastName" type="text" class="form-control" name="lastName"
                   [(ngModel)]="newHotelContact.lastName"/>
          </div>
        </div>
        <label>{{ 'GENERAL.EMAIL' | translate }}</label>
        <div class="input-group">
          <input id="mail" type="text" class="form-control" name="contactPerson"
                 [(ngModel)]="newHotelContact.mail"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'CRM.POSITION' | translate }}</label>
        <div class="input-group">
          <input id="position" type="text" class="form-control" name="contactNumber"
                 [(ngModel)]="newHotelContact.position"/>
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="saveHotelContact()">{{ 'GENERAL.SAVE' | translate }}</button>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<ng-template #hotelInformationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-hotel-information-title">{{ 'CRM.HOTEL_INFORMATION' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>{{ 'CRM.NUMBER_OF_ROOMS' | translate }}</label>
        <div class="input-group">
          <input id="numberOfRooms" type="text" class="form-control" name="numberOfRooms"
                 [(ngModel)]="hotelInformation.numberOfRoom"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'CRM.ROOM_PRICE' | translate }}</label>
        <div class="input-group">
          <input id="roomPrice" type="text" class="form-control" name="roomPrice"
                 [(ngModel)]="hotelInformation.price"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'CRM.NUMBER_OF_EMPLOYEE' | translate }}</label>
        <div class="input-group">
          <input id="numberOfEmployees" type="text" class="form-control" name="numberOfEmployees"
                 [(ngModel)]="hotelInformation.numberOfEmployee"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'GENERAL.PHONE_NUMBER' | translate }}</label>
        <div class="input-group">
          <input id="phoneNumber" type="text" class="form-control" name="phoneNumber"
                 [(ngModel)]="hotelInformation.phoneNumber"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'GENERAL.NOTE' | translate }}</label>
        <div class="input-group">
          <textarea type="text" name="content" class="form-control" #inputTarget rows="4"
                    [(ngModel)]="hotelInformation.notes"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'GENERAL.ADDRESS' | translate }}</label>
        <div class="input-group">
          <input id="address" type="text" class="form-control" name="address"
                 [(ngModel)]="hotelInformation.address"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'GENERAL.COUNTRY' | translate }}</label>
        <div class="input-group">
          <input id="country" type="text" class="form-control" name="country"
                 [(ngModel)]="hotelInformation.country"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'GENERAL.REGION' | translate }}</label>
        <div class="input-group">
          <input id="region" type="text" class="form-control" name="region"
                 [(ngModel)]="hotelInformation.region"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveHotelInformation()">{{ 'GENERAL.SAVE' | translate }}</button>
  </div>
</ng-template>

<ng-template #hotelStatusModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'CRM.SELECT_STATUS' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="assignee-form">
      <div class="form-group">
        <div class="status-container" *ngIf="emptyStatus">
          <p>{{ 'CRM.SELECT_STATUS_TO_CONTINUE' | translate }}</p>
        </div>
        <div ngbDropdown container="body" class="title-container ">
          <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>{{selectedStatus.title}}</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let hotelStatus of hotelStatuses"
                    (click)="selectStatus(hotelStatus)">{{hotelStatus.title}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="changeHotelStatus()">{{ 'GENERAL.SAVE' | translate }}</button>
  </div>
</ng-template>

<ng-template #assignPersonalModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-assign-personal-title">{{ 'CRM.ASSIGN_PERSONAL' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="assignee-form">
      <div class="form-group">
        <div class="status-container" *ngIf="emptyPersonal">
          <p>{{ 'CRM.SELECT_STATUS_TO_CONTINUE' | translate }}</p>
        </div>
        <div ngbDropdown container="body" class="title-container ">
          <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>
            {{selectedPersonal.firstName}} {{selectedPersonal.lastName}}
          </button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let personal of personals"
                    (click)="selectPersonal(personal)">{{personal.firstName}} {{personal.lastName}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="assignPersonal()">{{ 'GENERAL.SAVE' | translate }}</button>
  </div>
</ng-template>

<ng-template #actionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-actions-title">{{ 'GENERAL.ACTION' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="assignee-form">
      <div class="form-group">
        <div class="status-container" *ngIf="emptyStatus">
          <p>{{ 'CRM.SELECT_STATUS_TO_CONTINUE' | translate }}</p>
        </div>
        <div ngbDropdown container="body" class="title-container ">
          <div class="channel-item" *ngFor="let hotelContact of hotelContacts; let i = index;">
            <input type="checkbox"
                   (change)="hotelContact.selected = !hotelContact.selected"
                   [checked]="hotelContact.selected">
            <span class="action-name" *ngIf="hotelContact.firstName || hotelContact.lastName">
              {{hotelContact.firstName}} {{hotelContact.lastName}}
            </span>
            <span class="action-name" *ngIf="hotelContact.mail">
              {{hotelContact.mail}}
            </span>
            <span>
              {{hotelContact.position}}
            </span>
          </div>
        </div>

        <div ngbDropdown container="body" class="title-container  report-container">
          <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>{{selectedReportType.value}}</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let report of reportTypes"
                    (click)="selectReport(report)">{{report.value}}</button>
          </div>
        </div>
      </div>
    </form>
    <p *ngIf="actionError != null">

    </p>
    <div class="status-container" *ngIf="actionError != null">
      <p>{{actionError}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="handleActions()">Send</button>
  </div>
</ng-template>

<ng-template #filterModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-filter-hotel-title">{{ 'CRM.FILTER_HOTEL' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="assignee-form">
      <div class="form-group">
        <label>{{ 'GENERAL.HOTEL_NAME' | translate }}</label>
        <div class="input-group task-input">
          <input id="name" type="text" class="form-control" name="name"
                 (ngModelChange)="filterHotel.name = $event.toLowerCase()"
                 [(ngModel)]="filterHotel.name"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ 'GENERAL.STATUS' | translate }}</label>
        <div class="input-group">
          <label class="form-check-label" *ngFor="let status of statuses; let i = index;">
            <input type="checkbox" value="{{status}}" class="status"
                   (change)="changeFilteredStatus(i)"
                   [checked]="status.checked">{{status.title}}
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="clearFilter()">{{ 'GENERAL.CLEAR' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="loadHotels()">{{ 'GENERAL.FILTER' | translate }}</button>
  </div>
</ng-template>
