<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
    <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/review.svg">
      {{ 'REVIEW.TITLE' | translate }}
    </span>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 title-button">
    <button type="button" class="btn btn-primary" (click)="open(excel)"><i class="mdi mdi-file-excel"></i>
      {{ 'REVIEW.EXPORT_TO_EXCEL' | translate }}
    </button>
    <button type="button" class="btn btn-primary" (click)="openFilterModal(filter)"><i class="mdi mdi-filter"></i>
      {{ 'REVIEW.FILTER_REVIEW' | translate }}
    </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body pagination-container">
        <ngb-pagination [collectionSize]="totalElements" [pageSize]="pageSize" [page]="page"
                        (pageChange)="loadComments($event)"
                        [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                        aria-label="Default pagination"
                        class="d-flex justify-content-center pagination-success"></ngb-pagination>
      </div>
      <div class="card-body inbox">
        <div *ngFor="let comment of commentList; let odd = odd ; let i = index"
             [ngClass]="odd ? 'odd' : 'even'"
             [class.selected]="selectedIndex === i"
             (click)="selectItem(comment, i)">
          <div class="brand-container">
            <app-channel-icon class="icon" [source]="comment.source.toLowerCase()"></app-channel-icon>
            <span class="date">{{comment.commentDate  | date:'dd/MM/yyyy'}}</span>
          </div>
          <p class="comment-container">{{comment.content}}</p>
          <div class="inbox-star-container">
            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
            </ng-template>

            <ngb-rating [(rate)]="comment.ratingOverFive" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
            <img class="mdi mdi-cube icon-lg answered" src="assets/svg/answered.svg"
                 *ngIf="comment.answer != null">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 grid-margin stretch-card comment-detail">
    <div class="card">
      <div class="card-body">
        <div *ngIf="selectedItem != null">
          <div>
            <p class="total-info text-primary">{{totalElements}}
              <span *ngIf="totalElements > 1">{{ 'GENERAL.REVIEWS' | translate }} </span>
              <span *ngIf="totalElements <= 1">{{ 'GENERAL.REVIEW' | translate }} </span>
              showing in {{totalPages}} page
            </p>
          </div>
          <div class="summary-container">
            <div class="summary">
              <p class="title">
                <a *ngIf="selectedItem.starred"
                   (click)="markAsStarred(selectedItem)"><i class="fa fa-star star-yellow pointer" ></i>
                </a>
                <a *ngIf="!selectedItem.starred"
                   (click)="markAsStarred(selectedItem)">
                  <i class="far fa-star star-yellow pointer"></i>
                </a>
                <span *ngIf="selectedItem.title == null || selectedItem.title == ''">{{selectedItem.content}}</span>
                <span *ngIf="selectedItem.title != null">{{selectedItem.title}}</span>
              </p>
              <app-channel-icon class="icon" [source]="selectedItem.source.toLowerCase()"></app-channel-icon>
              <span class="brand">{{selectedItem.source}}</span>
              <span class="brand">{{selectedItem.commentDate  | date:'dd/MM/yyyy'}}</span>
              <p class="written">{{ 'GENERAL.WRITTEN_BY' | translate }}: {{selectedItem.author}}</p>
              <span class="written"
                    *ngIf="selectedItem.travelDate != null">Travel date: {{selectedItem.travelDate  | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="review">
              <p class="rating"
                 [ngClass]="{'text-danger': selectedItem.rating < 6, 'text-warning':(selectedItem.rating >= 6 && selectedItem.rating < 8), 'text-success':selectedItem.rating >= 8 }"> {{selectedItem.rating}}
                / 10</p>
              <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
              </ng-template>
              <ngb-rating [(rate)]="selectedItem.ratingOverFive" [starTemplate]="t" [readonly]="true"
                          [max]="5"></ngb-rating>
              <div>
                <a class="action-container" target="_blank" *ngIf="!isMobile" href="https://web.whatsapp.com/send?text={{selectedItem.content}}" data-text="Take a look at this comment:">
                  <i class="fa fa-share-alt action-button"></i>
                  {{ 'GENERAL.SHARE' | translate }}
                </a>
                <a class="action-container" target="_blank" *ngIf="isMobile" href="whatsapp://send?text={{selectedItem.content}}" data-text="Take a look at this comment:">
                  <i class="fa fa-share-alt action-button"></i>
                  {{ 'GENERAL.SHARE' | translate }}
                </a>
                <a class="action-container" target="_blank" *ngIf="selectedItem.url != null" href={{selectedItem.url}}>
                  <i class="fa fa-link action-button"></i>
                  {{ 'GENERAL.LINK' | translate }}
                </a>
              </div>
            </div>
          </div>
          <p *ngIf="!selectedItem.content.includes(noReviewText)" class="content" [innerHTML]=selectedItem.content></p>
          <p *ngIf="selectedItem.content.includes(noReviewText)"><i><span class="content" [innerHTML]=selectedItem.content></span></i></p>
          <div class="content-container" *ngIf="selectedItem.translatedText != null">
            <p class="text-danger content-title">{{ 'GENERAL.TRANSLATED_REVIEW' | translate }}: </p>
            <p class="content-answer">{{selectedItem.translatedText}}</p>
          </div>
          <div class="content-container" *ngIf="selectedItem.answer != null">
            <p class="text-danger content-title">{{ 'GENERAL.HOTELS_RESPONSE' | translate }}:</p>
            <p class="content-answer">{{selectedItem.answer}}</p>
          </div>
          <div class="template-demo">
            <button type="button" class="btn btn-primary border-radius" [class.btn-success] = "isFremium"
                    *ngIf="selectedItem.translatedText == null" (click)="translate(selectedItem)">
              <i class="mdi mdi-translate"></i>{{ 'GENERAL.TRANSLATE' | translate }}
            </button>
            <button type="button" class="btn btn-primary border-radius"
                    *ngIf="!selectedItem.starred" (click)="markAsStarred(selectedItem)">
              <i class="mdi mdi-star"></i>{{ 'GENERAL.MARK_AS_IMPORTANT' | translate }}
            </button>
            <button type="button" class="btn btn-primary border-radius"
                    *ngIf="selectedItem.starred" (click)="markAsStarred(selectedItem)">
              <i class="mdi mdi-star"></i>{{ 'GENERAL.MARK_AS_UNIMPORTANT' | translate }}
            </button>

            <button type="button" class="btn btn-primary border-radius"
                    (click)="openTaskModal(taskModal)">
              <i class="mdi mdi-file-document"></i>
              {{ 'GENERAL.ASSIGN_AS_TASK' | translate }}
            </button>

            <button type="button" class="btn btn-primary border-radius"
                    *ngIf="selectedItem.url != null && selectedItem.content != noReviewText"
                    (click)="openReplyPopup(answer)"><i class="mdi mdi-reply-all"></i>
              {{ 'GENERAL.REPLY' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #filter let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'REVIEW.FILTER_REVIEW' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="assignee-form">
      <div class="form-group">
        <label class="filter-title">{{ 'GENERAL.REVIEW_DATE' | translate }}</label>
        <div class="input-group">
          <input type="text" matInput
                 ngxDaterangepickerMd
                 autocomplete="off"
                 opens="center"
                 autoApply="true"
                 [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                 [maxDate]="maxDate"
                 startKey="start"
                 endKey="end"
                 placeholder="Select date to filter"
                 class="date-filter"
                 [(ngModel)]="selected"
                 name="daterange"/>
        </div>
      </div>
      <div class="form-group">
        <label class="filter-title">{{ 'GENERAL.RATING' | translate }}</label>
        <div class="input-group rating-filter">
          <div class="input-group rating-filter">
            <ngx-slider [(value)]="commentFilter.minRating" [(highValue)]="commentFilter.maxRating" [options]="options"></ngx-slider>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="filter-title">{{ 'GENERAL.TRAVELER_TYPE' | translate }}</label>
        <div class="input-group rating-filter">
          <div ngbDropdown container="body" *ngIf="travelerTypes.length > 0" class="title-container">
            <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>{{selectedTravellerType.name}}</button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem *ngFor="let travelerType of travelerTypes" (click)="selectTravellerType(travelerType)">{{travelerType.name}}</button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="filter-title">{{ 'GENERAL.CHANNEL' | translate }}</label>
        <div class="input-group rating-filter">
          <div class="input-group rating-filter">


            <div class="channel-item" *ngFor="let commentSource of commentSources; let i = index;">
              <input type="checkbox"
                     (change)="changeFilteredChannel(i)"
                     [checked]="commentSource.checked">
              <img class="mdi mdi-cube icon-lg channel-icon" *ngIf="commentSource.name.toLowerCase().includes('booking')"
                   src="assets/images/bookingCom.png">
              <img class="mdi mdi-cube icon-lg channel-icon" *ngIf="commentSource.name.toLowerCase().includes('hotelscom')"
                   src="assets/images/hotelsCom.jpg">
              <img class="mdi mdi-cube icon-lg channel-icon" *ngIf="commentSource.name.toLowerCase().includes('tripadvisor')"
                   src="assets/images/tripadvisor.png">
              <img class="mdi mdi-cube icon-lg channel-icon" *ngIf="commentSource.name.toLowerCase().includes('tatilsepeti')"
                   src="assets/images/tatilSepeti.png">
              <img class="mdi mdi-cube icon-lg channel-big-icon" *ngIf="commentSource.name.toLowerCase().includes('google')"
                   src="assets/images/google.png">
              <img class="mdi mdi-cube icon-lg channel-big-icon" *ngIf="commentSource.name.toLowerCase().includes('otelpuan')"
                   src="assets/images/otelPuan.png">
              <img class="mdi mdi-cube icon-lg channel-big-icon" *ngIf="commentSource.name.toLowerCase().includes('odamax')"
                   src="assets/images/odamax.jpg">
              <img class="mdi mdi-cube icon-lg channel-big-icon" *ngIf="commentSource.name.toLowerCase().includes('agoda')"
                   src="assets/images/agoda.png">
              <img class="mdi mdi-cube icon-lg channel-icon" *ngIf="commentSource.name.toLowerCase().includes('hoteluplift')"
                   src="assets/images/logo.png">
              <img class="mdi mdi-cube icon-lg channel-icon" *ngIf="commentSource.name.toLowerCase().includes('holidaycheck')"
                   src="assets/images/holidayCheck.png">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="filter-title">{{ 'GENERAL.HIGHLIGHTED' | translate }}</label>
        <div class="input-group rating-filter">
          <div class="input-group rating-filter">
            <label class="form-check-label">
              <input type="checkbox"
                     [checked]="commentFilter.starred"
                     (change)="commentFilter.starred = !commentFilter.starred">
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="clearFilter()">{{ 'GENERAL.CLEAR' | translate }}</button>
    <button type="button" class="btn btn-outline-dark" (click)="getFilteredReviews()">{{ 'GENERAL.FILTER' | translate }}</button>
  </div>
</ng-template>



<ng-template #taskModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'GENERAL.ASSIGN_NEW_TASK' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="summary-container">
      <div class="summary">
        <div class="detail-container">
          <app-channel-icon [source]="selectedItem.source.toLowerCase()"></app-channel-icon>
          <p class="written" >{{ 'GENERAL.WRITTEN_BY' | translate }}: {{selectedItem.author}}</p>
          <p class="written">{{selectedItem.commentDate  | date:'dd/MM/yyyy'}}</p>
        </div>
        <p class="title content-comment">{{selectedItem.content}}</p>
      </div>
    </div>
    <form class="assignee-form">
      <div class="form-group">
        <label>{{ 'GENERAL.ASSIGNEE' | translate }}</label>
        <div class="input-group task-input">
          <input id="assignee" type="text" class="form-control" name="assignee"
                 [resultFormatter]="resultFormatter"
                 [inputFormatter]="inputFormatter"
                 [(ngModel)]="task.employee" [ngbTypeahead]="search"
                 (focus)="focus$.next($event.target.value)"/>
        </div>
      </div>

      <div *ngIf="showAddEmployeeFlow" class="warning-body">
        <div class="warning-container ">
          <p>{{ 'GENERAL.EMPLOYEE_NOT_EXIST' | translate }}</p>
          <p>
            <a href="/employee" (click)="addNewEmployee()">{{ 'GENERAL.ADD_EMPLOYEE' | translate }}</a>
          </p>
        </div>
      </div>

      <div class="form-group">
        <label>{{ 'GENERAL.DESCRIPTION' | translate }}</label>
        <div class="input-group">
          <textarea id="description" type="text" class="form-control"
                    name="description" [(ngModel)]="task.description" rows="6"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="assignTask(task)">{{ 'GENERAL.ASSIGN' | translate }}</button>
  </div>
</ng-template>

<ng-template #answer let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-answer-title">{{ 'GENERAL.REPLY_REVIEW' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="reply-form" *ngIf="!newTemplateFlow">
      <div class="form-group" *ngIf="templates.length > 0">
        <div ngbDropdown container="body">
          <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>{{selectedTemplate.title}}</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let template of templates" (click)="selectTemplate(template)">{{template.title}}</button>
          </div>
        </div>
      </div>
    </form>
    <form class="reply-form" *ngIf="newTemplateFlow">
      <div class="form-group answer">
        <label>{{ 'GENERAL.TITLE' | translate }}</label>
        <div class="input-group">
          <input id="title" type="text" class="form-control" name="title"
                 [(ngModel)]="newTemplate.title"/>
        </div>
      </div>
    </form>
    <div class="form-group answer">
      <label>{{ 'GENERAL.YOUR_RESPONSE' | translate }}</label>
      <div class="input-group">
        <textarea type="text" name="content" class="form-control response-editor"
                  placeholder="{{'GENERAL.REPLY_PLACEHOLDER' | translate}}"
                  #inputTarget rows="12" [(ngModel)]="selectedTemplate.content"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" *ngIf="!newTemplateFlow" (click)="toNewTemplate()">{{ 'GENERAL.SAVE_AS_TEMPLATE' | translate }}</button>
    <button type="button" class="btn btn-primary"
            tooltip="{{'GENERAL.REDIRECTION_EXP' | translate:{source: this.selectedItem.source} }}" placement="right"
            *ngIf="!newTemplateFlow" (cbOnSuccess)="copyAndGo($event)" [ngxClipboard]="inputTarget">
      {{ 'GENERAL.COPY_AND_GO' | translate }}</button>
    <button type="button" class="btn btn-danger" *ngIf="newTemplateFlow" (click)="cancelTemplateFlow()">{{ 'GENERAL.CANCEL' | translate }}</button>
    <button type="button" class="btn btn-primary" *ngIf="newTemplateFlow" (click)="saveNewTemplate()">{{ 'GENERAL.SAVE_NEW_TEMPLATE' | translate }}</button>
  </div>
</ng-template>


<ng-template #excel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-excel-title">{{ 'REVIEW.EXPORT_TO_EXCEL' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body warning-body">
    <div class="warning-container">
      <i class="fa fa-info-circle warning text-primary"></i>
      <p *ngIf="!shouldFilterResult()">
        No filters applied. All of your reviews will be exported. You have {{totalElements}} in total.<br><br>
        Click Export button to continue.
      </p>
      <p *ngIf="shouldFilterResult()">
        {{'REVIEW.FILTER_COUNT' | translate:{totalElements: totalElements} }}.<br><br>
        {{ 'REVIEW.CONTINUE_EXPORT' | translate }}
      </p>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="export()">Export</button>
  </div>
</ng-template>

