.rating-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
  font-size: 15px;
}
.rating-text {
  margin-right: 10px;
}
.brand-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  img {
    max-height: 25px;
  }
  .brand {
    font-size: 14px;
    align-self: center;
    margin-right: 10px;
  }
  .date {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    align-self: center;
  }
}
.inbox-star-container {
  display: flex;
  flex-direction: row;
  .answered {
    align-self: center;
    margin-left: 20px;
    width: 20px !important;
  }
}
.comment-container {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.inbox {
  flex: initial !important;
  padding: 0 !important;
  overflow-y:auto;
  height:auto;
  max-height:800px;
  border: 2px solid #e5e5e5;
  .odd {
    padding: 1.5rem 1.2rem;
    background: #f5f4f4;
  }
  .even {
    padding: 1.5rem 1.2rem;
  }
  .selected {
    border: 1px solid #a19b9b;
  }
}
.comment-detail {
  .content {
    line-height: 26px;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #e1dada;
    background-color: aliceblue;
    padding: 15px;
    margin-bottom: 20px;
    .content-title {
      margin-bottom: 10px;
      font-weight: 500;
    }
    .content-answer {
      line-height: 26px;
      padding-left: 40px;

    }
  }
  .summary-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    .summary {
      width: 70%;
      .title {
        font-size: 17px;
        margin-bottom: 0;
        padding-bottom: 10px;
        display: block;
        white-space: nowrap;
        width: 15em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      img {
        margin-right: 5px;
        max-height: 25px;
      }
      .brand {
        font-size: 12px;
        align-self: center;
        padding-right: 10px;
      }
      .written {
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 10px;
      }
    }
    .review {
      width: 30%;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .rating {
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .inbox {
    max-height: 400px;
  }
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  color: #d3d3d3;
}
.full {
  color: #ffd500;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffd500;
}
.template-demo {
  float: right;
}
.modal-content {
  background-color: white;
  .title {
    font-size: 16px;
  }
  .popup-brand {
    padding-right: 15px;
    font-size: 14px;
  }
  .written {
    font-size: 12px;
    margin-bottom: 3px;
    margin-left: 10px;
  }
  .assignee-form {
    margin-top: 15px;
  }
  .modal-body {
    padding: 20px 26px;
    background-color: #fafbfb;
  }
}
.pagination-container {
  flex: initial !important;
  padding: 0.3rem !important;
}
.star {
  position: relative;
  display: inline-block;
  color: #d3d3d3;
  font-size: 18px;
}
.full {
  color: #ffd500;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffd500;
}
.pointer {
  cursor: pointer;
}
.star-yellow {
  color: #ffd500;
  font-size: 18px;
}
.filter-container {
  margin-bottom: 15px;
  align-items: center;
  .date-filter {
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #e5e5e5;
  }
}

.modal-dialog,
.modal-content {
  /* 80% of window height */
  height: 80%;
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  padding: 0 26px !important;
  max-height: calc(100% - 120px);
  overflow-y: scroll;
  .item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
  }
}
.channel-filter {
  display: flex;
  flex-direction: column;
}
.rating-filter {
  width: 100%;
  align-items: center;
}
.date-filter {
  width: 100%;
  padding: 5px;
}
.form-check-label {
  margin: 3px;
  input {
    margin-right: 5px;
  }
}
.answer {
  margin-top: 30px;
}
.action-button{
  font-size: 14px;
  margin-right: 10px;
}
.detail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.total {
  padding: 7px;
}
.filter-title {
  font-size: 14px !important;
  padding-top: 5px;
  font-weight: 500;
}
.channel-item {
  margin-right: 10px;
}
.modal-filter {
  max-width: 55%;
}
.channel-big-icon {
  max-width: 50px !important;
  margin: 8px;
}
.channel-icon {
  max-width: 35px !important;
  margin: 8px;
}
@media screen and (max-width: 600px) {
  .modal-filter {
    margin: 0 auto;
    max-width: 80%;
  }
  .channel-big-icon {
    max-width: 40px !important;
    margin: 5px;
  }
  .channel-icon {
    max-width: 40px !important;
    margin: 5px;
  }
}
.total-info {
  margin-bottom: 20px;
  text-align: end;
}
