<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
      <i class="fas fa-store uplift-store-icon"></i>
         {{ 'MENU.UPLIFT_STORE' | translate }}
    </span>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 title-button">
    <button type="button" class="btn btn-primary border-radius" routerLink="/pricing">
      {{ 'PRICING.UPGRADE_TO_PRO' | translate }}
    </button>
  </div>
</div>

<div class="row">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card rating-card">
    <div class="card uplift-card">
      <div class="card-body pointer">
        <div class="uplift-item">
          <div class="image-container">
            <img class="mdi mdi-cube icon-lg icon"
                 src="assets/images/uplift_widget.png">
          </div>
          <div class="explanation-container">
            <button type="button" class="btn btn-primary edit-button"
                    (click)="goToWidgetSettings()" tooltip="{{ 'GENERAL.AT_BUSINESS_ACCOUNT' | translate }}" [display]="isFree">
              <i class="fa fa-pencil-alt edit"></i>
              <span>{{ 'GENERAL.EDIT' | translate }}</span>
            </button>
            <button type="button" class="btn btn-success active edit-button" *ngIf="isActiveWidget">
              {{ 'GENERAL.ACTIVE' | translate }}
            </button>
            <button type="button" class="btn btn-danger active edit-button" *ngIf="!isActiveWidget">
              {{ 'GENERAL.DEACTIVE' | translate }}
            </button>
            <p class="mb-0 text-right title">{{ 'UPLIFT.WIDGET_TITLE' | translate }}</p>
            <div class="fluid-container">
              <span>{{ 'UPLIFT.WIDGET_TEXT' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card rating-card">
    <div class="card uplift-card">
      <div class="card-body pointer">
        <div class="uplift-item">
          <div class="image-container">
            <img class="mdi mdi-cube icon-lg icon"
                 src="assets/images/uplift_alert.png">
          </div>
          <div class="explanation-container">
            <button type="button" class="btn btn-primary edit-button"
                    (click)="goToReviewAlarmSettings()" tooltip="{{ 'GENERAL.AT_BUSINESS_ACCOUNT' | translate }}" [display]="isFree">
              <i class="fa fa-pencil-alt edit"></i>
              <span>{{ 'GENERAL.EDIT' | translate }}</span>
            </button>
            <button type="button" class="btn btn-success active edit-button" *ngIf="isActiveReviewAlarm">
              {{ 'GENERAL.ACTIVE' | translate }}
            </button>
            <button type="button" class="btn btn-danger active edit-button" *ngIf="!isActiveReviewAlarm">
              {{ 'GENERAL.DEACTIVE' | translate }}
            </button>
            <p class="mb-0 text-right title">{{ 'UPLIFT.NOTIFICATION_TITLE' | translate }}</p>
            <div class="fluid-container">
              <span>{{ 'UPLIFT.NOTIFICATION_TEXT' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
