<img class="mdi mdi-cube icon-lg category-icon"
     *ngIf="category.toLowerCase().includes('overall')"
     src="assets/images/logo.png">
<img class="mdi mdi-cube icon-lg category-icon" src="assets/svg/cleanliness.svg"
     *ngIf="category.toLowerCase().includes('cleanliness')">
<img class="mdi mdi-cube icon-lg category-icon" src="assets/svg/breakfast.svg"
     *ngIf="category.toLowerCase().includes('breakfast')">
<img class="mdi mdi-cube icon-lg category-icon" src="assets/svg/ambiance.svg"
     *ngIf="category.toLowerCase().includes('ambiance')">
<img class="mdi mdi-cube icon-lg category-icon" src="assets/svg/amenities.svg"
     *ngIf="category.toLowerCase().includes('amenities')">
<i class="fa fa-hamburger category-icon"
   *ngIf="category.toLowerCase().includes('food')"></i>
<i class="fa fa-wifi category-icon"
   *ngIf="category.toLowerCase().includes('wifi')"></i>
<i class="fa fa-users category-icon"
   *ngIf="category.toLowerCase().includes('staff')"></i>
<i class="fa fa-money-bill category-icon"
   *ngIf="category.toLowerCase().includes('pricing')"></i>
<i class="fa fa-location-arrow category-icon"
   *ngIf="category.toLowerCase().includes('location')"></i>
<i class="fa fa-concierge-bell category-icon"
   *ngIf="category.toLowerCase().includes('reception')"></i>
<i class="fa fa-bed category-icon"
   *ngIf="category.toLowerCase().includes('room')"></i>
<i class="fa fa-volume-up category-icon"
   *ngIf="category.toLowerCase().includes('noisy-quiet')"></i>
<i class="fa fa-car category-icon"
   *ngIf="category.toLowerCase().includes('carpark')"></i>
