<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
      <i class="fa fa-tools title-icon"></i>
      {{ 'ALARM.TITLE' | translate }}
    </span>
  </div>
</div>


<div class="row" *ngIf="reviewAlarmSettings != null">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <form class="review-alarm-settings">
          <div class="alarm-title">
            {{ 'ALARM.INFO' | translate }}
          </div>
          <div class="form-group">
            <label class="filter-title">{{ 'ALARM.ALARM_CHANNEL_TEXT' | translate }}</label>
            <div class="rating-filter">
              <input type="checkbox"
                     [checked]="reviewAlarmSettings.sendMail"
                     (change)="reviewAlarmSettings.sendMail = !reviewAlarmSettings.sendMail"> {{ 'ALARM.EMAIL' | translate }}
              <input type="checkbox"
                     [checked]="reviewAlarmSettings.sendSms"
                     (change)="reviewAlarmSettings.sendSms = !reviewAlarmSettings.sendSms"> {{ 'ALARM.SMS' | translate }}
            </div>
            <div class="sms-warning" *ngIf="reviewAlarmSettings.sendSms">
              {{ 'ALARM.SMS_WARNING' | translate }}
            </div>
          </div>
          <div class="form-group">
            <label class="filter-title">{{ 'WIDGET.RATING' | translate }}</label>
            <div class="input-group rating-filter">
              <ngx-slider [(value)]="reviewAlarmSettings.minRating" [(highValue)]="reviewAlarmSettings.maxRating"
                          [options]="options"></ngx-slider>
            </div>
          </div>
          <div class="form-group">
            <label class="filter-title">{{ 'WIDGET.SHOW_CHANNEL' | translate }}</label>
            <div class="input-group channel-filter">
              <div class="input-group channel-line">
                <div *ngFor="let commentSource of commentSources; let i = index;">
                  <input type="checkbox"
                         (change)="changeFilteredChannel(i)"
                         [checked]="commentSource.checked">
                  <img class="mdi mdi-cube icon-lg channel-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('booking')"
                       src="../../../../../assets/images/bookingCom.png">
                  <img class="mdi mdi-cube icon-lg channel-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('hotelscom')"
                       src="../../../../../assets/images/hotelsCom.jpg">
                  <img class="mdi mdi-cube icon-lg channel-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('tripadvisor')"
                       src="../../../../../assets/images/tripadvisor.png">
                  <img class="mdi mdi-cube icon-lg channel-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('tatilsepeti')"
                       src="../../../../../assets/images/tatilSepeti.png">
                  <img class="mdi mdi-cube icon-lg channel-big-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('google')"
                       src="../../../../../assets/images/google.png">
                  <img class="mdi mdi-cube icon-lg channel-big-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('otelpuan')"
                       src="../../../../../assets/images/otelPuan.png">
                  <img class="mdi mdi-cube icon-lg channel-big-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('odamax')"
                       src="../../../../../assets/images/odamax.jpg">
                  <img class="mdi mdi-cube icon-lg channel-big-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('agoda')"
                       src="../../../../../assets/images/agoda.png">
                  <img class="mdi mdi-cube icon-lg channel-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('hoteluplift')"
                       src="../../../../../assets/images/logo.png">
                  <img class="mdi mdi-cube icon-lg channel-icon"
                       *ngIf="commentSource.name.toLowerCase().includes('holidaycheck')"
                       src="../../../../../assets/images/holidayCheck.png">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div>
              <label class="filter-title">Yorumların iletileceği otel personellerini seçin</label>
              <button type="button" class="btn btn-primary float-right" (click)="openAddContactModal()"><i
                class="mdi mdi-plus"></i>
                {{ 'ALARM.ADD_CONTACT' | translate }}
              </button>
            </div>
            <table class="table table-bordered contact-table" *ngIf="hotelContacts != null && hotelContacts.length > 0">
              <thead>
              <tr>
                <th style="width: 25%">
                  {{ 'GENERAL.FIRST_NAME' | translate }}
                </th>
                <th style="width: 25%">
                  {{ 'GENERAL.EMAIL' | translate }}
                </th>
                <th style="width: 25%">
                  {{ 'GENERAL.PHONE_NUMBER' | translate }}
                </th>
                <th style="width: 25%">
                  {{ 'GENERAL.ACTION' | translate }}
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let hotelContact of hotelContacts">
                <td class="text star-container">
                  {{hotelContact.firstName}} {{hotelContact.lastName}}
                </td>
                <td class="text star-container">
                  {{hotelContact.mail}}
                </td>
                <td class="text star-container">
                  {{hotelContact.phoneNumber}}
                </td>
                <td class="text star-container">
                  <a (click)="deleteHotelContact(hotelContact)"><i class="fa fa-trash contact-action pointer"></i></a>
                  <a (click)="editHotelContact(hotelContact)"><i
                    class="fa fa-pencil-alt contact-action pointer"></i></a>
                  <a (click)="activateHotelContact(hotelContact)" class="text-primary pointer"
                     *ngIf="hotelContact.active == false">{{ 'GENERAL.ACTIVATE' | translate }}</a>
                  <a (click)="deactivateHotelContact(hotelContact)" class="text-primary pointer"
                     *ngIf="hotelContact.active == true">{{ 'GENERAL.DEACTIVATE' | translate }}</a>
                </td>

              </tr>
              </tbody>
            </table>
          </div>
          <p class="text-danger" *ngIf="reviewAlarmSettings.channelList < 1">
            {{ 'ALARM.EMPTY_CHANNEL' | translate }}
          </p>
          <p class="text-danger" *ngIf="!reviewAlarmSettings.sendSms && !reviewAlarmSettings.sendMail">
            {{ 'ALARM.AT_LEAST_CHANNEL' | translate }}
          </p>
          <button type="button" class="btn btn-primary fa-pull-right save"
                  (click)="save()">{{ 'GENERAL.SAVE' | translate }}</button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #contactListModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-contact-list-title">{{ 'ALARM.ADD_CONTACT' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="form-group">
          <label>{{ 'GENERAL.FIRST_NAME' | translate }}</label>
          <div class="input-group">
            <input id="firstName" type="text" class="form-control" name="firstName"
                   [(ngModel)]="newHotelContact.firstName"/>
          </div>
          <p class="text-danger" *ngIf="newHotelContact.firstName == null && submitted">
            {{ 'ALARM.FIRST_NAME_MISSING' | translate }}
          </p>
        </div>
        <div class="form-group">
          <label>{{ 'GENERAL.LAST_NAME' | translate }}</label>
          <div class="input-group">
            <input id="lastName" type="text" class="form-control" name="lastName"
                   [(ngModel)]="newHotelContact.lastName"/>
          </div>
          <p class="text-danger" *ngIf="newHotelContact.lastName == null && submitted">
            {{ 'ALARM.LAST_NAME_MISSING' | translate }}
          </p>
        </div>
        <label>{{ 'GENERAL.EMAIL' | translate }}</label>
        <div class="input-group">
          <input id="mail" type="text" class="form-control" name="mail"
                 [(ngModel)]="newHotelContact.mail"/>
        </div>

        <label>{{ 'GENERAL.PHONE_NUMBER' | translate }}</label>
        <div class="input-group">
          <input id="phoneNumber" type="text" class="form-control" name="phoneNumber"
                 placeholder="5xxxxxxxxx"
                 [(ngModel)]="newHotelContact.phoneNumber"/>
        </div>
      </div>
      <p class="text-danger" *ngIf="newHotelContact.phoneNumber == null &&
      newHotelContact.mail == null && submitted">
        {{ 'ALARM.NEW_CONTACT_WARNING' | translate }}
      </p>
      <button type="button" class="btn btn-primary"
              (click)="saveHotelContact()">{{ 'GENERAL.SAVE' | translate }}</button>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
