@import '../styles';

:host {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 1rem;
  //font-family: $type-1;
}

.title-container {
  padding-left: 10px;
  .parent {
    padding-left: 0;
  }
  .title {
    font-size: 15px;
    background-color: #ffffff;
    border: none;
    padding: 1rem;
    margin-bottom: 20px;
    img {
      width: 24px;
      margin-right: 5px;
      filter: invert(55%) sepia(64%) saturate(4239%) hue-rotate(187deg) brightness(96%) contrast(82%);
    }
  }
  .title-icon {
    margin-right: 10px;
  }
  .title-button {
    padding-right: 12px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    button {
      margin-left: 5px;
    }
  }
}
.pointer {
  cursor: pointer;
}
.full-width {
  width: 100%
}
.modal-body {
  background-color: #f3f3f3;
}
.modal-header {
  background-color: #faf7f7;
}
.modal-footer {
  background-color: #faf7f7;
}
.warning-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .warning-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    .warning {
      font-size: 60px;
      margin-bottom: 40px;
    }
  }
}
