@import '../styles';

:host {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 1rem;
  //font-family: $type-1;
}

.title-container {
  padding-left: 10px;
  padding-right: 20px;
  .parent {
    padding-left: 0;
  }
  .title {
    font-size: 15px;
    background-color: #ffffff;
    border: none;
    padding: 1rem;
    margin-bottom: 20px;
  }
  .title-icon {
    margin-right: 10px;
  }
}
.pointer {
  cursor: pointer;
}
.full-width {
  width: 100%
}
.modal-body {
  background-color: #f3f3f3;
}
