<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">Popularity</span>
  </div>
</div>
<div class="row" *ngIf="barChartLabels.length > 0">
  <div class="col-lg-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">Comment Counts by Channel</h2>
        <app-bar-chart [barChartData]="barChartData" [barChartLabels]="barChartLabels"></app-bar-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-5 grid-margin stretch-card performance">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">Popularity History</h2>
        <div class="wrapper d-flex justify-content-between">
          <div class="side-left">
            <p class="mb-2">Current month</p>
            <p class="display-3 mb-4 font-weight-light topic">28 comments</p>
          </div>
        </div>
        <div class="wrapper d-flex justify-content-between">
          <div class="side-left">
            <p class="mb-2">Last month</p>
            <p class="display-3 mb-5 font-weight-light topic">38 comments</p>
          </div>
          <div class="side-right">
            <small class="rating text-danger">1.2 average</small>
          </div>
        </div>
        <div class="wrapper d-flex justify-content-between">
          <div class="side-left">
            <p class="mb-2">Last 6 month</p>
            <p class="display-3 mb-5 font-weight-light topic">210 comments</p>
          </div>
          <div class="side-right">
            <small class="rating text-danger">1.3 average</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
