<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
    <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/popularity.svg">
      Popularity
    </span>
  </div>
</div>
<div class="row" *ngIf="lineChartData.length > 0">
  <div class="col-lg-12 grid-margin stretch-card">
    <!--weather card-->
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">Monthly Rating</h2>
        <p *ngIf="overallPerformance > 70" class="text-success month-average-txt">Congrats, your hotel average rating is increasing in {{overallPerformance}} % of months</p>
        <p *ngIf="overallPerformance <= 70 && overallPerformance > 40" class="text-warning month-average-txt">Your hotel average rating is increasing in {{overallPerformance}} % of months. You can do better</p>
        <p *ngIf="overallPerformance <= 40" class="text-danger month-average-txt">Your hotel average rating is increasing in {{overallPerformance}} % of months. You should take necessary precautions</p>
        <app-line-chart [lineChartOptions]="lineChartOptionsData" [height]="height" [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels"></app-line-chart>
      </div>
    </div>
    <!--weather card ends-->
  </div>
</div>
<div class="row" *ngIf="barChartLabels.length > 0">
  <div class="col-lg-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="date-selection-container">
          <h2 class="card-title text-primary">Comment Counts by Channel</h2>
        </div>
        <app-bar-chart [height]="height" [barChartData]="barChartData" [barChartLabels]="barChartLabels"></app-bar-chart>
        <div class="right">
          <div (click)="changeInterval(1)" class="arrow-container text-primary">
            <i class="fa fa-arrow-left space" ></i> <span>Previous</span>
          </div>
          <div (click)="changeInterval(-1)" *ngIf="interval > 0" class="arrow-container text-primary">
            <span>Next</span> <i class="fa fa-arrow-right space" ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 grid-margin stretch-card performance">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">Popularity History</h2>
        <div class="wrapper d-flex justify-content-between summary-item">
          <div class="side-left">
            <p class="mb-3">Current month</p>
            <p class="display-3 mb-4 font-weight-light topic">{{monthlyComments.currentMonthCount}} comments</p>
          </div>
        </div>
        <div class="wrapper d-flex justify-content-between summary-item">
          <div class="side-left">
            <p class="mb-3">Last month</p>
            <p class="display-3 mb-5 font-weight-light topic">{{monthlyComments.lastMonthCount}} comments</p>
          </div>
          <div class="side-right average-item">
            <small class="rating">{{monthlyComments.lastMonthAverage}} daily average</small>
          </div>
        </div>
        <div class="wrapper d-flex justify-content-between summary-item">
          <div class="side-left">
            <p class="mb-3">Last 6 months</p>
            <p class="display-3 mb-5 font-weight-light topic">{{monthlyComments.last6MonthCount}} comments</p>
          </div>
          <div class="side-right average-item">
            <small class="rating">{{monthlyComments.last6MonthAverage}} daily average</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-7 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4 text-primary">Language</h5>
        <div class="table-responsive">
          <table class="table table-bordered" #languageTable>
            <thead>
            <tr>
              <th>
                Language
              </th>
              <th>
                <span class="fa-pull-right">
                Count
                </span>
              </th>
              <th>
                <span class="fa-pull-right">
                Rating
                </span>
              </th>
              <th>
                <span class="fa-pull-right">
                  %
                </span>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commentCountLanguageModel of commentsByLanguage">
              <td>
                <app-flag-icon [language]="commentCountLanguageModel.language"></app-flag-icon>
                {{commentCountLanguageModel.language}}
              </td>
              <td>
                <span class="fa-pull-right">
                  {{commentCountLanguageModel.commentCount}}
                </span>
              </td>
              <td>
                <span class="fa-pull-right">
                  <span class="text-success fa-pull-right" *ngIf="commentCountLanguageModel.ratingAverage >= 9"> {{commentCountLanguageModel.ratingAverage}}</span>
                  <span class="text-warning fa-pull-right" *ngIf="commentCountLanguageModel.ratingAverage < 9 && commentCountLanguageModel.ratingAverage >= 8"> {{commentCountLanguageModel.ratingAverage}}</span>
                  <span class="text-danger fa-pull-right" *ngIf="commentCountLanguageModel.ratingAverage < 8"> {{commentCountLanguageModel.ratingAverage}}</span>
                </span>
              </td>
              <td>
                <span class="fa-pull-right">
                  {{commentCountLanguageModel.percentage}}
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-5 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4 text-primary">Traveler Type</h5>
        <div class="table-responsive">
          <table class="table table-bordered" #travelTypeTable>
            <thead>
            <tr>
              <th>
                Traveler Type
              </th>
              <th>
                <span class="fa-pull-right">
                  Count
                </span>
              </th>
              <th>
                <span class="fa-pull-right">
                Rating
                </span>
              </th>
              <th>
                 <span class="fa-pull-right">
                  %
                </span>
              </th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let commentCountTraveledWithModel of commentsByTraveledWith">
              <tr *ngIf="commentCountTraveledWithModel.traveledWith != null">
                <td>
                  {{commentCountTraveledWithModel.traveledWith}}
                </td>
                <td>
                  <span class="fa-pull-right">
                    {{commentCountTraveledWithModel.commentCount}}
                  </span>
                </td>
                <td>
                  <span class="text-success fa-pull-right" *ngIf="commentCountTraveledWithModel.ratingAverage >= 9"> {{commentCountTraveledWithModel.ratingAverage}}</span>
                  <span class="text-warning fa-pull-right" *ngIf="commentCountTraveledWithModel.ratingAverage < 9 && commentCountTraveledWithModel.ratingAverage >= 8"> {{commentCountTraveledWithModel.ratingAverage}}</span>
                  <span class="text-danger fa-pull-right" *ngIf="commentCountTraveledWithModel.ratingAverage < 8"> {{commentCountTraveledWithModel.ratingAverage}}</span>
                </td>
                <td>
                  <span  class="fa-pull-right">
                    {{commentCountTraveledWithModel.percentage}}
                  </span>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
