.performance {
  .topic {
    font-size: 1.3rem;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
  .rating {
    font-size: 16px;
  }
  .summary-item {
    margin-bottom: 15px;
    border: 1px solid #e5e5e5;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.date-selection-container {
  display: flex;
  flex-direction: row;
}
.right{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
  .space {
    margin: 5px;
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  table thead {
    display: none;
  }
  table td {
    display: flex;
  }
  table tr {
    border: 1px solid #a19b9b;
  }

  table td::before {
    content: attr(label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
  }
  .star-container {
    text-align: start;
  }
}
.table-bordered td:nth-child(1) {
  word-wrap:break-word;
  white-space: normal;
}
.table-bordered td:nth-child(1) {

}
.table-bordered{
  table-layout: fixed;
  .text {
    line-height: 18px;
    font-family: Poppins,Helvetica,sans-serif;
    white-space: break-spaces;
  }
}
.align-center {
  align-self: center;
}
.arrow-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
