<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
    <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/popularity.svg">
      {{ 'STATS.TITLE' | translate }}
    </span>
  </div>
</div>
<div class="row" *ngIf="lineChartData.length > 0 && barChartLabels.length > 0">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="graph-title text-primary">{{ 'GENERAL.REVIEW_SCORE' | translate }}</p>
        <app-line-chart [lineChartOptions]="lineChartOptionsData" [height]="height" [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels"></app-line-chart>
        <p class="graph-title text-primary">{{ 'GENERAL.REVIEW_COUNT' | translate }}</p>
        <app-bar-chart [height]="height" [barChartData]="barChartData" [barChartLabels]="barChartLabels"></app-bar-chart>
        <div class="right">
          <div (click)="changeInterval(1)" class="arrow-container text-primary">
            <i class="fa fa-arrow-left space" ></i> <span>{{ 'GENERAL.PREVIOUS' | translate }}</span>
          </div>
          <div (click)="changeInterval(-1)" *ngIf="interval > 0" class="arrow-container text-primary">
            <span>{{ 'GENERAL.NEXT' | translate }}</span> <i class="fa fa-arrow-right space" ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="barChartLabels.length > 0">
  <div class="col-lg-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4 text-primary">{{ 'GENERAL.TRAVELER_TYPE' | translate }}</h5>
        <div class="table-responsive">
          <table class="table table-bordered" #travelTypeTable>
            <thead>
            <tr>
              <th>
                {{ 'GENERAL.TRAVELER_TYPE' | translate }}
              </th>
              <th>
                <span class="fa-pull-right">
                  {{ 'GENERAL.COUNT' | translate }}
                </span>
              </th>
              <th>
                <span class="fa-pull-right">
                {{ 'GENERAL.RATING' | translate }}
                </span>
              </th>
              <th>
                 <span class="fa-pull-right">
                  %
                </span>
              </th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let commentCountTraveledWithModel of commentsByTraveledWith">
              <tr *ngIf="commentCountTraveledWithModel.traveledWith != null">
                <td>
                  {{commentCountTraveledWithModel.traveledWith}}
                </td>
                <td>
                  <span class="fa-pull-right">
                    {{commentCountTraveledWithModel.commentCount}}
                  </span>
                </td>
                <td>
                  <span class="text-success fa-pull-right" *ngIf="commentCountTraveledWithModel.ratingAverage >= 9"> {{commentCountTraveledWithModel.ratingAverage}}</span>
                  <span class="text-warning fa-pull-right" *ngIf="commentCountTraveledWithModel.ratingAverage < 9 && commentCountTraveledWithModel.ratingAverage >= 8"> {{commentCountTraveledWithModel.ratingAverage}}</span>
                  <span class="text-danger fa-pull-right" *ngIf="commentCountTraveledWithModel.ratingAverage < 8"> {{commentCountTraveledWithModel.ratingAverage}}</span>
                </td>
                <td>
                  <span  class="fa-pull-right">
                    {{commentCountTraveledWithModel.percentage}}
                  </span>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 grid-margin stretch-card performance">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">{{ 'STATS.POPULARITY_HISTORY' | translate }}</h2>
        <div class="wrapper d-flex justify-content-between summary-item">
          <div class="side-left">
            <p class="mb-3">{{ 'STATS.CURRENT_MONTH' | translate }}</p>
            <p class="display-3 mb-4 font-weight-light topic">{{monthlyComments.currentMonthCount}} {{ 'GENERAL.REVIEWS' | translate }}</p>
          </div>
        </div>
        <div class="wrapper d-flex justify-content-between summary-item">
          <div class="side-left">
            <p class="mb-3">{{ 'STATS.LAST_MONTH' | translate }}</p>
            <p class="display-3 mb-5 font-weight-light topic">{{monthlyComments.lastMonthCount}} {{ 'GENERAL.REVIEWS' | translate }}</p>
          </div>
          <div class="side-right average-item">
            <small class="rating">{{monthlyComments.lastMonthAverage}} {{ 'STATS.DAILY_AVERAGE' | translate }}</small>
          </div>
        </div>
        <div class="wrapper d-flex justify-content-between summary-item">
          <div class="side-left">
            <p class="mb-3">{{ 'STATS.LAST_6_MONTH' | translate }}</p>
            <p class="display-3 mb-5 font-weight-light topic">{{monthlyComments.last6MonthCount}} {{ 'GENERAL.REVIEWS' | translate }}</p>
          </div>
          <div class="side-right average-item">
            <small class="rating">{{monthlyComments.last6MonthAverage}} {{ 'STATS.DAILY_AVERAGE' | translate }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4 text-primary">{{ 'GENERAL.LANGUAGE' | translate }}</h5>
        <div class="table-responsive">
          <table class="table table-bordered" #languageTable>
            <thead>
            <tr>
              <th>
                {{ 'GENERAL.LANGUAGE' | translate }}
              </th>
              <th>
                <span class="fa-pull-right">
                {{ 'GENERAL.COUNT' | translate }}
                </span>
              </th>
              <th>
                <span class="fa-pull-right">
                {{ 'GENERAL.RATING' | translate }}
                </span>
              </th>
              <th>
                <span class="fa-pull-right">
                  %
                </span>
              </th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let commentCountLanguageModel of commentsByLanguage">
              <tr *ngIf="commentCountLanguageModel.language != null">
                <td>
                  <app-flag-icon [language]="commentCountLanguageModel.language"></app-flag-icon>
                  {{commentCountLanguageModel.language}}
                </td>
                <td>
                <span class="fa-pull-right">
                  {{commentCountLanguageModel.commentCount}}
                </span>
                </td>
                <td>
                <span class="fa-pull-right">
                  <span class="text-success fa-pull-right" *ngIf="commentCountLanguageModel.ratingAverage >= 9"> {{commentCountLanguageModel.ratingAverage}}</span>
                  <span class="text-warning fa-pull-right" *ngIf="commentCountLanguageModel.ratingAverage < 9 && commentCountLanguageModel.ratingAverage >= 8"> {{commentCountLanguageModel.ratingAverage}}</span>
                  <span class="text-danger fa-pull-right" *ngIf="commentCountLanguageModel.ratingAverage < 8"> {{commentCountLanguageModel.ratingAverage}}</span>
                </span>
                </td>
                <td>
                <span class="fa-pull-right">
                  {{commentCountLanguageModel.percentage}}
                </span>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
