<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">Competition /
      <span class="text-danger"> Coming soon</span>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 grid-margin stretch-card rating-card">
    <div class="card card-statistics">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-shower category-icon"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Cleanliness</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 text-success standing">2nd</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 grid-margin stretch-card rating-card">
    <div class="card card-statistics">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-bed category-icon"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Room & Comfort</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 text-warning standing">3rd</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 grid-margin stretch-card rating-card">
    <div class="card card-statistics">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-location-arrow category-icon"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Ambiance & Architecture</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 text-success standing">1st</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 grid-margin stretch-card rating-card">
    <div class="card card-statistics">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-users category-icon"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Staff & Services</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 text-warning standing">3rd</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 grid-margin stretch-card rating-card">
    <div class="card card-statistics">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-money-bill category-icon"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Pricing</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 text-warning standing">3rd</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 grid-margin stretch-card rating-card">
    <div class="card card-statistics">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-concierge-bell category-icon"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Reception</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 text-success standing">2nd</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 grid-margin stretch-card rating-card">
    <div class="card card-statistics">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-wifi category-icon"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Wifi</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 text-danger standing">4th</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 grid-margin stretch-card rating-card">
    <div class="card card-statistics">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-egg category-icon"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Breakfast</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 text-warning standing">4rd</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Competition</h5>
        <div class="table-responsive">
          <table class="table table-bordered" #competitionTable>
            <thead>
            <tr>
              <th>
                Hotel name
              </th>
              <th>
                Today
              </th>
              <th>
                This Month
              </th>
              <th>
                Last 6 Months
              </th>
              <th>
                Booking
              </th>
              <th>
                Tripadvisor
              </th>
              <th>
                Hotelscom
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let competitionCountRating of competitionCountRatingList">
              <td>
                {{competitionCountRating.name}}
              </td>
              <td>
                <span class="fa-pull-right">{{competitionCountRating.todaysCount}}</span>
              </td>
              <td>
                <span class="fa-pull-right">{{competitionCountRating.lastMonthsCount}}</span>
              </td>
              <td>
                <span class="fa-pull-right">{{competitionCountRating.last6MonthsCount}}</span>
              </td>
              <td class="text-success">
                <span class="fa-pull-right">{{competitionCountRating.bookingRating}}</span>
              </td>
              <td class="text-success">
                <span class="fa-pull-right">{{competitionCountRating.tripAdvisorRating}}</span>
              </td>
              <td class="text-success">
                <span class="fa-pull-right">{{competitionCountRating.hotelsComRating}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
