<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
      <img class="mdi mdi-cube icon-lg category-icon side-icon" src="assets/svg/competition.svg">
      Competition
    </span>
  </div>
</div>

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Rating & Pricing</h5>
        <div class="table-responsive">
          <table class="table table-bordered" #pricingTable>
            <thead>
            <tr>
              <th class="single">#</th>
              <th class="double">
                Hotel
              </th>
              <th class="single small-padding">
                 <span class="fa-pull-right">
                   <app-channel-icon [source]="'hoteluplift'"></app-channel-icon>
                </span>
              </th>
              <th class="single small-padding">
                 <span class="fa-pull-right">
                  <app-channel-icon [source]="'booking'"></app-channel-icon>
                </span>
              </th>
              <th class="single small-padding">
                 <span class="fa-pull-right">
                   <app-channel-icon [source]="'tripadvisor'"></app-channel-icon>
                </span>
              </th>
              <th class="single small-padding">
                 <span class="fa-pull-right">
                   <app-channel-icon [source]="'hotelscom'"></app-channel-icon>
                </span>
              </th>
              <th class="single small-padding">
                <span class="fa-pull-right">
                  Price
                </span>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let competitionCountRating of competitionCountRatingList; index as i"
                [class.selected]="competitionCountRating.selected">
              <td>{{i + 1}}</td>
              <td>
                {{competitionCountRating.hotelName}}
              </td>
              <td class="text-success bold-text">
                <span class="fa-pull-right">{{competitionCountRating.hotelUpliftRating}}</span>
              </td>
              <td class="text-success">
                <span class="fa-pull-right">{{competitionCountRating.bookingRating}}</span>
              </td>
              <td class="text-success">
                <span class="fa-pull-right">{{competitionCountRating.tripAdvisorRating}}</span>
              </td>
              <td class="text-success">
                <span class="fa-pull-right">{{competitionCountRating.hotelsComRating}}</span>
              </td>
              <td>
                <span class="fa-pull-right">{{competitionCountRating.priceText}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card rating-card"
       *ngFor="let competitionCategory of competitionCategoryList">
    <div class="card card-statistics pointer" (click)="getHotelListByCategory(competitionCategory)">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <app-category-icon [category]="competitionCategory.category.name" [fontSize] = "30" [maxWidth]="45"></app-category-icon>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">{{competitionCategory.category.name}}</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0 text-success standing"
                  *ngIf="competitionCategory.rank == 1">{{competitionCategory.rank}}st</h3>
              <h3 class="font-weight-medium text-right mb-0 text-success standing"
                  *ngIf="competitionCategory.rank == 2">{{competitionCategory.rank}}nd</h3>
              <h3 class="font-weight-medium text-right mb-0 text-warning standing"
                  *ngIf="competitionCategory.rank == 3">{{competitionCategory.rank}}rd</h3>
              <h3 class="font-weight-medium text-right mb-0 text-danger standing"
                  *ngIf="competitionCategory.rank == 4">{{competitionCategory.rank}}th</h3>
              <h3 class="font-weight-medium text-right mb-0 text-danger standing"
                  *ngIf="competitionCategory.rank == 5">{{competitionCategory.rank}}th</h3>
            </div>
            <p class="text-right mb-0">{{competitionCategory.score}} %</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="competitionCategory.length > 0" id="competitionCategory">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">
          Ranking List for {{selectedCategory.category.name}}
        </h5>
        <div class="table-responsive">
          <table class="table table-bordered" #rankingTable>
            <thead>
            <tr>
              <th class="small">#</th>
              <th class="single small">
                <span>
                Hotel name
                </span>
              </th>
              <th class="single small">
                <span class="fa-pull-right">
                Positive
                </span>
              </th>
              <th class="single small">
                <span class="fa-pull-right">
                Neutral
                </span>
              </th>
              <th class="single small">
                <span class="fa-pull-right">
                Negative
                </span>
              </th>
              <th class="single small">
                <span class="fa-pull-right">
                  Total
                </span>
              </th>
              <th class="single small">
                <span class="fa-pull-right">
                Score
                  </span>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let competition of competitionCategory; index as i" [class.selected]="competition.selected">
              <td>{{i + 1}}</td>
              <td>
                {{competition.hotelName}}
              </td>
              <td>
                <span class="fa-pull-right text-success">{{competition.positiveCount}}
                </span>
              </td>
              <td>
                <span class="fa-pull-right text-warning">{{competition.neutralCount}}
                </span>
              </td>
              <td>
                <span class="fa-pull-right">{{competition.negativeCount}}
                </span>
              </td>
              <td>
                <span class="fa-pull-right">{{competition.totalMention}}
                </span>
              </td>
              <td>
                <span class="fa-pull-right">{{competition.score}}
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Review Counts</h5>
        <div class="table-responsive">
          <table class="table table-bordered" #competitionTable>
            <thead>
            <tr>
              <th class="single">#</th>
              <th class="double">
                Hotel
              </th>
              <th class="single small-padding">
                <span class="fa-pull-right">
                  Today
                </span>
              </th>
              <th class="single small-padding">
                <span class="fa-pull-right">
                  Last Week
                </span>
              </th>
              <th class="single small-padding">
                <span class="fa-pull-right">
                  Last Month
                </span>
              </th>
              <th class="single small-padding">
                <span class="fa-pull-right">
                  Last 3 Months
                </span>
              </th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let competitionCountRating of competitionCountRatingList; index as i"
                [class.selected]="competitionCountRating.selected">
              <td>{{i + 1}}</td>
              <td>
                {{competitionCountRating.hotelName}}
              </td>
              <td>
                <span class="fa-pull-right">{{competitionCountRating.todaysCount}}
                  <span class="fa-pull-right"
                        *ngIf="competitionCountRating.todaysCount == 0 || competitionCountRating.todaysCount == 1">&nbsp;Review</span>
                  <span class="fa-pull-right" *ngIf="competitionCountRating.todaysCount > 1">&nbsp;Reviews</span>
                </span>
              </td>
              <td>
                <span class="fa-pull-right">{{competitionCountRating.lastWeekCount}}
                  <span class="fa-pull-right"
                        *ngIf="competitionCountRating.lastWeekCount == 0 || competitionCountRating.lastWeekCount == 1">&nbsp;Review</span>
                  <span class="fa-pull-right" *ngIf="competitionCountRating.lastWeekCount > 1">&nbsp;Reviews</span>
                </span>
              </td>
              <td>
                <span class="fa-pull-right">{{competitionCountRating.lastMonthCount}}
                  <span class="fa-pull-right"
                        *ngIf="competitionCountRating.lastMonthCount == 0 || competitionCountRating.lastMonthCount == 1">&nbsp;Review</span>
                  <span class="fa-pull-right" *ngIf="competitionCountRating.lastMonthCount > 1">&nbsp;Reviews</span>
                </span>
              </td>
              <td>
                <span class="fa-pull-right">{{competitionCountRating.last3MonthsCount}}
                  <span class="fa-pull-right"
                        *ngIf="competitionCountRating.last3MonthsCount == 0 || competitionCountRating.last3MonthsCount == 1">&nbsp;Review</span>
                  <span class="fa-pull-right" *ngIf="competitionCountRating.last3MonthsCount > 1">&nbsp;Reviews</span>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
