.star {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  color: #d3d3d3;
}
.full {
  color: #ffd500;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffd500;
}
.brand-name {
  font-size: 1.0rem;
}
