<div class="row title-container">
  <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 left">
    <span class="input-group-text text-primary title">{{hotel.name}}</span>
  </div>
  <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 right">
    <date-range-picker [instanceId]="'secondDateRange'" [parentFormGroup]="form"
                       [controlName]="'secondDateRange'" #dateRangePicker>
      <div class="form-group">
        <div class="input-group">
          <input id="secondDateRange" class="form-control" type="text" name="dateRange"
                 [value]="dateRangePicker.range" placeholder="From - To" formControlName="secondDateRange" />
          <div class="input-group-prepend">
            <span class="input-group-text cursor-pointer" id="date-range-icon" (click)="openHotelSelectionPopup(contentCompetition)">
              <i class="material-icons text-primary">Change Hotel</i>
            </span>
          </div>
        </div>
      </div>
    </date-range-picker>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card rating-card" *ngFor="let commentCountRating of commentCountRatings">
    <div class="card card-statistics" (click)="goToDetail(commentCountRating.source)">
      <div class="card-body pointer">
        <div class="clearfix">
          <div class="float-left">
            <img class="mdi mdi-cube icon-lg icon" *ngIf="commentCountRating.source.toLowerCase().includes('booking')" src="assets/images/bookingCom.png">
            <img class="mdi mdi-cube icon-lg icon" *ngIf="commentCountRating.source.toLowerCase().includes('hotelscom')" src="assets/images/hotelsCom.jpg" >
            <img class="mdi mdi-cube icon-lg icon" *ngIf="commentCountRating.source.toLowerCase().includes('tripadvisor')" src="assets/images/tripadvisor.png">
            <img class="mdi mdi-cube icon-lg icon" *ngIf="commentCountRating.source.toLowerCase().includes('tatil sepeti')" src="assets/images/tatilSepeti.png">
            <img class="mdi mdi-cube icon-lg icon" *ngIf="commentCountRating.source.toLowerCase().includes('google')" src="assets/images/google.png">
            <img class="mdi mdi-cube icon-lg big-icon" *ngIf="commentCountRating.source.toLowerCase().includes('otelpuan')" src="assets/images/otelPuan.png" >
            <img class="mdi mdi-cube icon-lg big-icon" *ngIf="commentCountRating.source.toLowerCase().includes('odamax')" src="assets/images/odamax.jpg">
            <img class="mdi mdi-cube icon-lg big-icon" *ngIf="commentCountRating.source.toLowerCase().includes('agoda')" src="assets/images/agoda.png">
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">{{commentCountRating.source}}</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{commentCountRating.rating}}</h3>
              <p class="text-right mb-0">{{commentCountRating.commentCount}} Reviews</p>
              <p *ngIf="commentCountRating.trend < 0" class="text-right mb-0 text-danger">{{commentCountRating.trend}} <i class="fa fa-thumbs-down"></i></p>
              <p *ngIf="commentCountRating.trend >= 0" class="text-right mb-0 text-success">{{commentCountRating.trend}} <i class="fa fa-thumbs-up"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <!--weather card-->
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">Rating</h2>
        <app-line-chart [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels"></app-line-chart>
      </div>
    </div>
    <!--weather card ends-->
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">Review (<span class="text-warning">426</span> reviews last year)</h2>
        <app-pie-chart [pieChartData]="pieChartData" [pieChartLabels]="pieChartLabels"></app-pie-chart>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Last Reviews ({{commentList.length}} New Reviews)</h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th style="width: 10%">
                Starred
              </th>
              <th style="width: 50%">
                Review
              </th>
              <th style="width: 10%">
                Channel
              </th>
              <th style="width: 15%">
                Review Date
              </th>
              <th style="width: 15%">
                Rating
              </th>
              <th style="width: 15%">
                Actions
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of commentList">
              <td class="text star-container">
                <i class="fa fa-star star pointer" *ngIf="comment.starred" (click)="markAsStarred(comment)"></i>
                <i class="fa fa-star-o star pointer" *ngIf="!comment.starred" (click)="markAsStarred(comment)"></i>
              </td>
              <td class="text comment"
                  (click)="openDetailPopup(comment, contentReviewDetail)"
                  *ngIf="comment.content != null && comment.content.length <= 100">
                {{comment.content}}
              </td>
              <td class="text comment"
                  (click)="openDetailPopup(comment, contentReviewDetail)"
                  *ngIf="comment.content != null && comment.content.length > 100">
                {{comment.content | slice:0:100}}...
              </td>
              <td class="text comment"
                  (click)="openDetailPopup(comment, contentReviewDetail)"
                  *ngIf="comment.content == null">

              </td>
              <td>
                <div>
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('booking')" src="assets/images/bookingCom.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('hotels.com')" src="assets/images/hotelsCom.jpg" >
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('tripadvisor')" src="assets/images/tripadvisor.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('tatilsepeti')" src="assets/images/tatilSepeti.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('google')" src="assets/images/google.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('otelpuan')" src="assets/images/otelPuan.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('agoda')" src="assets/images/agoda.png">
                </div>
              </td>
              <td>
                {{comment.commentDate  | date:'MM/dd/yyyy'}}
              </td>
              <td class="text-danger"
                  [ngClass]="{'text-danger': comment.rating < 6, 'text-warning':(comment.rating >= 6 && comment.rating < 8), 'text-success':comment.rating >= 8 }"> {{comment.rating}} / 10
                <i class="mdi mdi-arrow-down" *ngIf="comment.rating < 6"></i>
                <i class="mdi mdi-arrow-up" *ngIf="comment.rating >= 6"></i>
              </td>
              <td class="text-primary">
                <i class="fa fa-tasks action-button" (click)="open(comment, contentTask)"></i>
                <i class="fa fa-language action-button" (click)="translate(comment)"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Most Needed Improvements</h5>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>
                Category
              </th>
              <th>
                Performance
              </th>
              <th>
                Mentions
              </th>
              <th>
                Positive
              </th>
              <th>
                Neutral
              </th>
              <th>
                Negative
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let improvement of improvementList" routerLink="/improvement">
              <td>
                {{improvement.category}}
              </td>
              <td  [ngClass]="{'text-danger': improvement.performance < 40,
               'text-warning':(improvement.performance >= 40 && improvement.performance < 70), 'text-success':improvement.performance >= 70 }">
                {{improvement.performance}}%
              </td>
              <td>
                {{improvement.mentionCount}}
              </td>
              <td class="text-success">
                {{improvement.positiveMentionCount}}
                <i class="mdi mdi-arrow-up"></i>
              </td>
              <td class="text-warning">
                {{improvement.neutralMentionCount}}
              </td>
              <td class="text-danger">
                {{improvement.negativeMentionCount}}
                <i class="mdi mdi-arrow-down"></i>
              </td>
              <td style="text-align: center; vertical-align: middle;">
                <button class="btn btn-inverse-danger btn-rounded btn-fw btn-xs" type="button">
                  Detail
                  <i class="mdi mdi-arrow-right-bold"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTask let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Assign new task</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="summary-container">
      <div class="summary">
        <p class="title">{{selectedComment.content}}</p>
        <span class="brand popup-brand">{{selectedComment.source}}</span>
        <p class="written" >Written By: {{selectedComment.author}}</p>
        <p class="written">Published on {{selectedComment.commentDate  | date:'MM/dd/yyyy'}}</p>
      </div>
    </div>
    <form class="assignee-form">
      <div class="form-group">
        <label>Assignee</label>
        <div class="input-group">
          <input id="assignee" type="text" class="form-control" name="assignee"
                 [resultFormatter]="resultFormatter"
                 [inputFormatter]="inputFormatter"
                 [(ngModel)]="task.assignee" [ngbTypeahead]="search"/>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <div class="input-group">
          <textarea id="description" type="text" class="form-control"
                    name="description" [(ngModel)]="task.description" rows="3"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Assign</button>
  </div>
</ng-template>


<ng-template #contentReviewDetail let-modalReview>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-comment-detail">Review Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalReview.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="summary-container">
      <div class="summary">
        <p class="title">{{selectedComment.content}}</p>
        <span class="brand popup-brand">{{selectedComment.source}}</span>
        <p class="written" >Written By: {{selectedComment.author}}</p>
        <p class="written">Published on {{selectedComment.commentDate  | date:'MM/dd/yyyy'}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="template-demo">
      <button type="button" class="btn btn-success"><i class="fa fa-language"></i>Translate</button>
      <button type="button" class="btn btn-primary"><i class="mdi mdi-star"></i>Mark as Important</button>
    </div>
  </div>
</ng-template>

<ng-template #contentCompetition let-modalCompetiton>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-competition">Select Hotel</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalCompetiton.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="summary-container">
      <div class="summary">
        <div *ngFor="let competition of competitionList">
          <label for="enum_answer_{{competition.name}}">
            <input id="enum_answer_{{competition.name}}" [value]='competition' type="radio" name="enums" [(ngModel)]="selectedHotel">
            {{competition.name}}
          </label>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="template-demo">
      <button type="button" class="btn btn-success" (click)="changeHotel()"><i class="fa fa-building"></i>Change Hotel</button>
    </div>
  </div>
</ng-template>
