<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Competition</h5>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>
                Category
              </th>
              <th>
                Performance
              </th>
              <th>
                Mentions
              </th>
              <th>
                Positive
              </th>
              <th>
                Neutral
              </th>
              <th>
                Negative
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let competition of competitionList">
              <td>
                {{competition.name}}
              </td>
              <td>
                <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                  </span>
                </ng-template>

                <ngb-rating [(rate)]="competition.rating" [starTemplate]="t" [readonly]="true" [max]="10"></ngb-rating>
              </td>
              <td>
                {{competition.reviewCount}}
              </td>
              <td class="text-success"> {{competition.positiveCount}}
                <i class="mdi mdi-arrow-up"></i>
              </td>
              <td class="text-warning"> {{competition.neutralCount}}
              </td>
              <td class="text-danger"> {{competition.negativeCount}}
                <i class="mdi mdi-arrow-down"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
