<div class="row">
  <div class="col-lg-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body inbox">
        <div *ngFor="let comment of commentList; let odd = odd ; let i = index"
             [ngClass]="odd ? 'odd' : 'even'"
             [class.selected]="selectedIndex === i"
             (click)="selectItem(comment, i)">
          <p class="comment-container">{{comment.content}}</p>
          <div class="rating-container">
            <span class="rating-text">{{comment.rating}} / 10</span>
            <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
            </ng-template>

            <ngb-rating [(rate)]="comment.starRating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
          </div>
          <div class="brand-container">
            <img class="mdi mdi-cube icon-lg icon brand-image" *ngIf="comment.source.toLowerCase().includes('booking')" src="assets/images/bookingCom.png">
            <img class="mdi mdi-cube icon-lg icon brand-image" *ngIf="comment.source.toLowerCase().includes('hotels.com')" src="assets/images/hotelsCom.jpg" >
            <img class="mdi mdi-cube icon-lg icon brand-image" *ngIf="comment.source.toLowerCase().includes('tripadvisor')" src="assets/images/tripadvisor.png">
            <img class="mdi mdi-cube icon-lg icon brand-image" *ngIf="comment.source.toLowerCase().includes('tatilsepeti')" src="assets/images/tatilSepeti.png">
            <span class="brand">{{comment.source}}</span>
            <span class="date">{{comment.commentDate  | date:'MM/dd/yyyy'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 grid-margin stretch-card comment-detail">
    <div class="card">
      <div class="card-body">
        <div *ngIf="selectedItem != null">
          <div class="summary-container">
            <div class="summary">
              <p class="title">{{selectedItem.content}}</p>
              <img class="mdi mdi-cube icon-lg icon brand-image" *ngIf="selectedItem.source.toLowerCase().includes('booking')" src="assets/images/bookingCom.png">
              <img class="mdi mdi-cube icon-lg icon brand-image" *ngIf="selectedItem.source.toLowerCase().includes('hotels.com')" src="assets/images/hotelsCom.jpg" >
              <img class="mdi mdi-cube icon-lg icon brand-image" *ngIf="selectedItem.source.toLowerCase().includes('tripadvisor')" src="assets/images/tripadvisor.png">
              <img class="mdi mdi-cube icon-lg icon brand-image" *ngIf="selectedItem.source.toLowerCase().includes('tatilsepeti')" src="assets/images/tatilSepeti.png">
              <span class="brand">{{selectedItem.source}}</span>
              <span class="brand">Published on {{selectedItem.commentDate  | date:'MM/dd/yyyy'}}</span>
              <p class="written" >Written By: {{selectedItem.writtenBy}}</p>
              <span class="written" *ngIf="selectedItem.travelDate != null">Travel date: {{selectedItem.travelDate  | date:'MM/dd/yyyy'}}</span>
            </div>
            <div class="review">
              <p class="rating"
                 [ngClass]="{'text-danger': selectedItem.rating < 6, 'text-warning':(selectedItem.rating >= 6 && selectedItem.rating < 8), 'text-success':selectedItem.rating >= 8 }"> {{selectedItem.rating}} / 10</p>
              <ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
              </ng-template>
              <ngb-rating [(rate)]="selectedItem.rating" [starTemplate]="t" [readonly]="true" [max]="10"></ngb-rating>
            </div>
          </div>
          <p class="content">{{selectedItem.content}}</p>
          <p class="content-answer" *ngIf="selectedItem.answer != null">{{selectedItem.answer}}</p>
          <div class="template-demo">
            <button type="button" class="btn btn-success"><i class="fa fa-language"></i>Translate</button>
            <button type="button" class="btn btn-warning"><i class="mdi mdi-star"></i>Mark as Important</button>
            <button type="button" class="btn btn-primary" (click)="open(content)"><i class="mdi mdi-file-document"></i>Assign Someone as a Task</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Assign new task</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="summary-container">
      <div class="summary">
        <p class="title">{{selectedItem.content}}</p>
        <span class="brand popup-brand">{{selectedItem.source}}</span>
        <p class="written" >Written By: {{selectedItem.writtenBy}}</p>
        <p class="written">Published on {{selectedItem.commentDate  | date:'MM/dd/yyyy'}}</p>
      </div>
    </div>
    <form class="assignee-form">
      <div class="form-group">
        <label>Assignee</label>
        <div class="input-group">
          <input id="assignee" type="text" class="form-control" name="assignee"
                 [resultFormatter]="resultFormatter"
                 [inputFormatter]="inputFormatter"
                 [(ngModel)]="task.assignee" [ngbTypeahead]="search"/>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <div class="input-group">
          <textarea id="description" type="text" class="form-control"
                    name="description" [(ngModel)]="task.description" rows="3"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

