<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <app-line-chart [lineChartLabels]="lineChartLabelsBooking" [lineChartData]="lineChartDataBooking"></app-line-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <app-line-chart [lineChartLabels]="lineChartLabelsTripAdvisor" [lineChartData]="lineChartDataTripAdvisor"></app-line-chart>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <app-line-chart [lineChartLabels]="lineChartLabelsHotelsCom" [lineChartData]="lineChartDataHotelsCom"></app-line-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <app-line-chart [lineChartLabels]="lineChartLabelsOdamax" [lineChartData]="lineChartDataOdamax"></app-line-chart>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <app-line-chart [lineChartLabels]="lineChartLabelsOtelPuan" [lineChartData]="lineChartDataOtelPuan"></app-line-chart>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <app-line-chart [lineChartLabels]="lineChartLabelsTatilSepeti" [lineChartData]="lineChartDataTatilSepeti"></app-line-chart>
      </div>
    </div>
  </div>
</div>
