<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-primary mb-4">Tasks reported by me</h5>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>
                Review
              </th>
              <th>
                Detail
              </th>
              <th>
                Reporter
              </th>
              <th>
                Question
              </th>
              <th>
                Assignee
              </th>
              <th>
                Status
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of reportedTaskList">
              <td>
                {{task.content}}
              </td>
              <td>
                {{task.source}}
              </td>
              <td>
                {{task.reporter}}
              </td>
              <td>
                {{task.assignee}}
              </td>
              <td>
                {{task.reporterQuestion}}
              </td>
              <td>
                <span class="badge badge-warning badge-pill">{{task.status}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-primary mb-4">Tasks assigned to me</h5>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>
                Review
              </th>
              <th>
                Detail
              </th>
              <th>
                Reporter
              </th>
              <th>
                Question
              </th>
              <th>
                Assignee
              </th>
              <th>
                Status
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of assignedTaskList">
              <td>
                {{task.content}}
              </td>
              <td>
                {{task.source}}
              </td>
              <td>
                {{task.reporter}}
              </td>
              <td>
                {{task.assignee}}
              </td>
              <td>
                {{task.reporterQuestion}}
              </td>
              <td>
                <span class="badge badge-success badge-pill">{{task.status}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
