<div class="row title-container">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 parent">
    <span class="input-group-text text-primary title">
      <i class="fa fa-tools title-icon"></i>
      {{ 'SETTINGS.TITLE' | translate }}
    </span>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <h4 class="card-title language-title">{{ 'LOGIN.PREFERRED_LANGUAGE' | translate }}</h4>
            <div ngbDropdown container="body">
              <button class="btn btn-outline-primary btn-sm language-container" type="button" ngbDropdownToggle>{{selectedLanguage.value}}</button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem *ngFor="let language of languages"
                        (click)="selectLanguage(language)">{{language.value}}</button>
              </div>
            </div>
          </div>
        </form>
        <div *ngIf="options.length > 0">
          <h4 class="card-title  rule-title">{{ 'SETTINGS.YOUR_RULES' | translate }}</h4>
          <div *ngFor="let option of options" class="rule-container">
            <p class="label">{{option.label}}</p>
            <div class="row-flex">
              <div class="description-container">
                <span class="description">{{option.description}}</span>
              </div>
              <input type="checkbox"
                     (change)="changeOption(option)"
                     [checked]="option.defaultValue">
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
