<div class="row title-container">
  <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 left">
    <span class="input-group-text text-primary title">
      <app-channel-icon class="header-icon" [source]="source.toLowerCase()"></app-channel-icon>
      {{source}}</span>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Last {{commentList.length}} {{source}} Reviews</h4>
        <div class="table-responsive">
          <table class="table table-bordered" #commentTable>
            <thead>
            <tr>
              <th style="width: 10%">
                Starred
              </th>
              <th style="width: 50%">
                Review
              </th>
              <th style="width: 10%">
                Channel
              </th>
              <th style="width: 15%">
                Review Date
              </th>
              <th style="width: 15%">
                Rating
              </th>
              <th style="width: 15%">
                Actions
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of commentList">
              <td class="text star-container">
                <i class="fa fa-star star pointer" *ngIf="comment.starred" (click)="markAsStarred(comment)"></i>
                <i class="far fa-star star pointer" *ngIf="!comment.starred" (click)="markAsStarred(comment)"></i>
              </td>
              <td class="text comment"
                  (click)="openDetailPopup(comment, contentReviewDetail)"
                  *ngIf="comment.content != null && comment.content.length <= 100">
                {{comment.content}}
              </td>
              <td class="text comment"
                  (click)="openDetailPopup(comment, contentReviewDetail)"
                  *ngIf="comment.content != null && comment.content.length > 100">
                {{comment.content | slice:0:100}}...
              </td>
              <td class="text comment"
                  (click)="openDetailPopup(comment, contentReviewDetail)"
                  *ngIf="comment.content == null">
              </td>
              <td>
                <div>
                  <app-channel-icon [source]="comment.source.toLowerCase()"></app-channel-icon>
                </div>
              </td>
              <td>
                {{comment.commentDate  | date:'dd/MM/yyyy'}}
              </td>
              <td class="text-danger"
                  [ngClass]="{'text-danger': comment.rating < 6, 'text-warning':(comment.rating >= 6 && comment.rating < 8), 'text-success':comment.rating >= 8 }"> {{comment.rating}} / 10
                <i class="mdi mdi-arrow-down" *ngIf="comment.rating < 6"></i>
                <i class="mdi mdi-arrow-up" *ngIf="comment.rating >= 6"></i>
              </td>
              <td class="text-primary">
                <!--<i class="fa fa-tasks action-button" (click)="open(comment, contentTask)"></i>-->
                <a (click)="translate(comment)"><i class="fa fa-language action-button" ></i></a>
                <a target="_blank" *ngIf="comment.url != null" href={{comment.url}}><i class="fa fa-link action-button"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Assessment By Language</h5>
        <div class="table-responsive">
          <table class="table table-bordered" #languageTable>
            <thead>
            <tr>
              <th>
                Language
              </th>
              <th>
                Count
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commentCountLanguageModel of commentsByLanguage">
              <td>
                <app-flag-icon [language]="commentCountLanguageModel.language"></app-flag-icon>
                {{commentCountLanguageModel.language}}
              </td>
              <td>
                {{commentCountLanguageModel.commentCount}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Assessment By Travel Type</h5>
        <div class="table-responsive">
          <table class="table table-bordered" #travelTypeTable>
            <thead>
            <tr>
              <th>
                Travel Type
              </th>
              <th>
                Count
              </th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let commentCountTraveledWithModel of commentsByTraveledWith">
              <tr *ngIf="commentCountTraveledWithModel.traveledWith != null">
                <td>
                  {{commentCountTraveledWithModel.traveledWith}}
                </td>
                <td>
                  {{commentCountTraveledWithModel.commentCount}}
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTask let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Assign new task</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="summary-container">
      <div class="summary">
        <p class="title">{{selectedComment.content}}</p>
        <span class="brand popup-brand">{{selectedComment.source}}</span>
        <p class="written" >Written By: {{selectedComment.author}}</p>
        <p class="written">Published on {{selectedComment.commentDate  | date:'dd/MM/yyyy'}}</p>
      </div>
    </div>
    <form class="assignee-form">
      <div class="form-group">
        <label>Assignee</label>
        <div class="input-group">
          <input id="assignee" type="text" class="form-control" name="assignee"
                 [resultFormatter]="resultFormatter"
                 [inputFormatter]="inputFormatter"
                 [(ngModel)]="task.employee" [ngbTypeahead]="search"
                 (focus)="focus$.next($event.target.value)"/>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <div class="input-group">
          <textarea id="description" type="text" class="form-control"
                    name="description" [(ngModel)]="task.description" rows="3"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Assign</button>
  </div>
</ng-template>

<ng-template #contentReviewDetail let-modalReview>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-comment-detail">Review Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalReview.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="summary-container">
      <div class="summary">
        <div class="detail-container">
          <app-channel-icon [source]="selectedComment.source.toLowerCase()"></app-channel-icon>
          <p class="written" >Written By: {{selectedComment.author}}</p>
          <p class="written">{{selectedComment.commentDate  | date:'dd/MM/yyyy'}}</p>
        </div>
        <p class="content-comment">{{selectedComment.content}}</p>
        <div class="content-container" *ngIf="selectedComment.translatedText != null">
          <p class="text-danger content-title">Translated Review: </p>
          <p class="content-answer">{{selectedComment.translatedText}}</p>
        </div>
        <div class="content-container" *ngIf="selectedComment.answer != null">
          <p class="text-danger content-title">Hotel's response:</p>
          <p class="content-answer">{{selectedComment.answer}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="template-demo">
      <button type="button" class="btn btn-primary" *ngIf="selectedComment.translatedText == null" (click)="translate(selectedComment)"><i class="fa fa-language"></i>Translate</button>
      <button type="button" class="btn btn-primary" *ngIf="!selectedComment.starred" (click)="markAsStarred(selectedComment)"><i class="mdi mdi-star"></i>Mark as Important</button>
      <button type="button" class="btn btn-primary" *ngIf="selectedComment.starred" (click)="markAsStarred(selectedComment)"><i class="mdi mdi-star"></i>Mark as Unimportant</button>
    </div>
  </div>
</ng-template>
