<div class="row">
  <div class="col-lg-8 grid-margin stretch-card">
    <!--weather card-->
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">By Category</h2>
        <app-line-chart [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels"></app-line-chart>
      </div>
    </div>
    <!--weather card ends-->
  </div>
  <div class="col-lg-4 grid-margin stretch-card performance">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-primary mb-5">Performance History</h2>
        <div class="wrapper d-flex justify-content-between">
          <div class="side-left">
            <p class="mb-2">The best performance</p>
            <p class="display-3 mb-4 font-weight-light topic">Reception</p>
          </div>
          <div class="side-right">
            <small class="rating text-success">9.7</small>
          </div>
        </div>
        <div class="wrapper d-flex justify-content-between">
          <div class="side-left">
            <p class="mb-2">Worst performance</p>
            <p class="display-3 mb-5 font-weight-light topic">Rooms</p>
          </div>
          <div class="side-right">
            <small class="rating text-danger">8.4</small>
          </div>
        </div>
        <div class="wrapper d-flex justify-content-between">
          <div class="side-left">
            <p class="mb-2">Best trend</p>
            <p class="display-3 mb-5 font-weight-light topic">Foods</p>
          </div>
          <div class="side-right">
            <small class="rating text-success">%1.2</small>
          </div>
        </div>
        <div class="wrapper d-flex justify-content-between">
          <div class="side-left">
            <p class="mb-2">Worst trend</p>
            <p class="display-3 mb-5 font-weight-light topic">Bar</p>
          </div>
          <div class="side-right">
            <small class="rating text-danger">%-0.2</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Last {{commentList.length}} {{source}} Reviews</h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th style="width: 10%">
                Starred
              </th>
              <th style="width: 50%">
                Review
              </th>
              <th style="width: 10%">
                Channel
              </th>
              <th style="width: 15%">
                Review Date
              </th>
              <th style="width: 15%">
                Rating
              </th>
              <th style="width: 15%">
                Actions
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of commentList">
              <td class="text star-container">
                <i class="fa fa-star star pointer" *ngIf="comment.starred" (click)="markAsStarred(comment)"></i>
                <i class="far fa-star star pointer" *ngIf="!comment.starred" (click)="markAsStarred(comment)"></i>
              </td>
              <td class="text comment"
                  (click)="openDetailPopup(comment, contentReviewDetail)"
                  *ngIf="comment.content != null && comment.content.length <= 100">
                {{comment.content}}
              </td>
              <td class="text comment"
                  (click)="openDetailPopup(comment, contentReviewDetail)"
                  *ngIf="comment.content != null && comment.content.length > 100">
                {{comment.content | slice:0:100}}...
              </td>
              <td class="text comment"
                  (click)="openDetailPopup(comment, contentReviewDetail)"
                  *ngIf="comment.content == null">

              </td>
              <td>
                <div>
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('booking')" src="assets/images/bookingCom.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('hotelscom')" src="assets/images/hotelsCom.jpg" >
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('tripadvisor')" src="assets/images/tripadvisor.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('tatilsepeti')" src="assets/images/tatilSepeti.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('google')" src="assets/images/google.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('otelpuan')" src="assets/images/otelPuan.png">
                  <img class="mdi mdi-cube icon-lg icon" *ngIf="comment.source.toLowerCase().includes('agoda')" src="assets/images/agoda.png">
                </div>
              </td>
              <td>
                {{comment.commentDate  | date:'dd/MM/yyyy'}}
              </td>
              <td class="text-danger"
                  [ngClass]="{'text-danger': comment.rating < 6, 'text-warning':(comment.rating >= 6 && comment.rating < 8), 'text-success':comment.rating >= 8 }"> {{comment.rating}} / 10
                <i class="mdi mdi-arrow-down" *ngIf="comment.rating < 6"></i>
                <i class="mdi mdi-arrow-up" *ngIf="comment.rating >= 6"></i>
              </td>
              <td class="text-primary">
                <i class="fa fa-tasks action-button" (click)="open(comment, contentTask)"></i>
                <i class="fa fa-language action-button" (click)="translate(comment)"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Assessment By Language</h5>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>
                Language
              </th>
              <th>
                Count
              </th>
              <th>

              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commentCountLanguageModel of commentsByLanguage">
              <td>
                <flag-icon [language]="commentCountLanguageModel.language"></flag-icon>
                {{commentCountLanguageModel.language}}
              </td>
              <td>
                {{commentCountLanguageModel.commentCount}}
              </td>
              <td style="text-align: center; vertical-align: middle;">
                <button class="btn btn-inverse-danger btn-rounded btn-fw btn-xs" type="button">
                  Detail
                  <i class="mdi mdi-arrow-right-bold"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 grid-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Assessment By Travel Type</h5>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>
                Travel Type
              </th>
              <th>
                Count
              </th>
              <th>

              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commentCountTraveledWithModel of commentsByTraveledWith">
              <td>
                {{commentCountTraveledWithModel.traveledWith}}
              </td>
              <td>
                {{commentCountTraveledWithModel.commentCount}}
              </td>
              <td style="text-align: center; vertical-align: middle;">
                <button class="btn btn-inverse-danger btn-rounded btn-fw btn-xs" type="button">
                  Detail
                  <i class="mdi mdi-arrow-right-bold"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTask let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Assign new task</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="summary-container">
      <div class="summary">
        <p class="title">{{selectedComment.content}}</p>
        <span class="brand popup-brand">{{selectedComment.source}}</span>
        <p class="written" >Written By: {{selectedComment.author}}</p>
        <p class="written">Published on {{selectedComment.commentDate  | date:'dd/MM/yyyy'}}</p>
      </div>
    </div>
    <form class="assignee-form">
      <div class="form-group">
        <label>Assignee</label>
        <div class="input-group">
          <input id="assignee" type="text" class="form-control" name="assignee"
                 [resultFormatter]="resultFormatter"
                 [inputFormatter]="inputFormatter"
                 [(ngModel)]="task.assignee" [ngbTypeahead]="search"/>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <div class="input-group">
          <textarea id="description" type="text" class="form-control"
                    name="description" [(ngModel)]="task.description" rows="3"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Assign</button>
  </div>
</ng-template>


<ng-template #contentReviewDetail let-modalReview>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-comment-detail">Review Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalReview.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="summary-container">
      <div class="summary">
        <p class="title">{{selectedComment.content}}</p>
        <span class="brand popup-brand">{{selectedComment.source}}</span>
        <p class="written" >Written By: {{selectedComment.author}}</p>
        <p class="written">Published on {{selectedComment.commentDate  | date:'dd/MM/yyyy'}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="template-demo">
      <button type="button" class="btn btn-success"><i class="fa fa-language"></i>Translate</button>
      <button type="button" class="btn btn-primary"><i class="mdi mdi-star"></i>Mark as Important</button>
    </div>
  </div>
</ng-template>

