.rating-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
  font-size: 15px;
}
.rating-text {
  margin-right: 10px;
}
.brand-container {
  display: flex;
  flex-direction: row;
  img {
    margin-right: 10px;
    max-height: 25px;
  }
  .brand {
    font-size: 14px;
    align-self: center;
  }
  .date {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 300;
    align-self: center;
  }
}
.comment-container {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.inbox {
  padding: 0 !important;
  overflow-y:auto;
  height:auto;
  max-height:800px;
  border: 1px solid #e5e5e5;
  .odd {
    padding: 1.88rem 1.81rem;
    background: #f5f4f4;
  }
  .even {
    padding: 1.88rem 1.81rem;
  }
  .selected {
    border: 1px solid #a19b9b;
  }
}
.comment-detail {
  .content {
    line-height: 26px;
  }
  .content-answer {
    padding: 20px;
    line-height: 26px;
    padding-left: 50px;
    border: 1px solid #e1dada;
    background-color: aliceblue;
  }
  .summary-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    .summary {
      width: 70%;
      .title {
        font-size: 17px;
        margin-bottom: 0;
        padding-bottom: 10px;
        display: block;
        white-space: nowrap;
        width: 15em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      img {
        margin-right: 5px;
        max-height: 25px;
      }
      .brand {
        font-size: 12px;
        align-self: center;
        padding-right: 10px;
      }
      .written {
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 10px;
      }
    }
    .review {
      width: 30%;
      text-align: right;
      .rating {
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 0;
      }
    }
  }
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  color: #d3d3d3;
}
.full {
  color: #ffd500;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffd500;
}
.template-demo {
  float: right;
}
.modal-content {
  background-color: white;
  .title {
    font-size: 16px;
  }
  .popup-brand {
    padding-right: 15px;
    font-size: 14px;
  }
  .written {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .assignee-form {
    margin-top: 15px;
  }
  .modal-body {
    padding: 20px 26px;
    background-color: #fafbfb;
  }
}
.pagination-container {
  padding: 0.3rem !important;
}
.star {
  position: relative;
  display: inline-block;
  color: #d3d3d3;
  font-size: 18px;
}
.full {
  color: #ffd500;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffd500;
}
.pointer {
  cursor: pointer;
}
.button-container {
  display: flex;
  flex-direction: row;
  float: right;
  padding-top: 20px;
}
