.name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.change-pass-container {
  float: right;
  margin-top: 20px;
}
.warning-container {
  background-color: #f7dada;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
